app/views/basket.pug
doctype html
html
	block vars
	head
		meta(http-equiv='X-UA-Compatible',content='IE=edge')
		meta(name='description', content='take-it')
		meta(name='keywords', content='take-it')
		meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
		meta(charset='utf-8')
		block styles
			link(rel="stylesheet",href="../css/app.css")
		block title
			title Checkout

	body
		header.header-plain.header-plain_gap_s
			div.header-plain__row
				h2.header-plain__title Корзина

			div.back-button(role=button)

		div.checkout
			div.checkout__wrap
				div.checkout__list
					div.checkout__item
						div.checkout__img
							img(src="../images/checkout-1.jpg")

						div.checkout__info
							div.checkout__name Удлиненная футболка с разрезами
							div.checkout__id FS151165
							span.btn.btn_type_link.btn-delete Удалить

						div.checkout__price 
							div.checkout__price_regular €15

						table.checkout__table
							tr
								td S-L, Красный
								td 
									input.checkout__input(value=1 type="number")
								td
									span.checkout__item-delete
							tr
								td S-L, Бутылочный
								td 
									input.checkout__input(value=1 type="number")
								td
									span.checkout__item-delete

							tr
								td S-L, Голубой
								td 
									input.checkout__input(value=1 type="number")
								td
									span.checkout__item-delete

							tr
								td S-L, Фанго
								td 
									input.checkout__input(value=1 type="number")
								td
									span.checkout__item-delete

						div.checkout__item-total-price 
							span.checkout__item-number 4
							span &nbsp;×&nbsp;
							span.checkout__item-value €60

					div.checkout__item.checkout__item_sale
						div.checkout__img
							img(src="../images/checkout-1.jpg")

						div.checkout__info
							div.checkout__name Платье с завязками на талии и рукавах
							div.checkout__id FS151165
							span.btn.btn_type_link.btn-delete Удалить

						div.checkout__price 
							div.checkout__price_old €15
							div.checkout__price_sale €8.5

						table.checkout__table
							tr
								td S-L, Красный
								td 
									input.checkout__input(value=1 type="number")
								td
									span.checkout__item-delete

							tr
								td S-L, Красный
								td 
									input.checkout__input(value=1 type="number")
								td
									span.checkout__item-delete


						div.checkout__item-total-price 
							span.checkout__item-number 4
							span &nbsp;×&nbsp;
							span.checkout__item-value €17

					div.checkout__item
						div.checkout__img
							img(src="../images/checkout-3.jpg")

						div.checkout__info
							div.checkout__name Юбка А-силуэта из натурального шелка
							div.checkout__id FS151165
							span.btn.btn_type_link.btn-delete Удалить

						div.checkout__price 
							div.checkout__price_regular €22.5

						table.checkout__table
							tr
								td S-L, Морская волна
								td 
									input.checkout__input(value=8 type="number")
								td
									span.checkout__item-delete

						div.checkout__item-total-price 
							span.checkout__item-number 8 
							span &nbsp;×&nbsp; 
							span.checkout__item-value €180
			button.checkout__submit Оформить заказ на 2586 грн

		script(src="../components/jquery/dist/jquery.js")
		script(src="../js/app.js")

dist/html/basket.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="take-it">
    <meta name="keywords" content="take-it">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css">
    <title>Checkout</title>
  </head>
  <body>
    <header class="header-plain header-plain_gap_s">
      <div class="header-plain__row">
        <h2 class="header-plain__title">Корзина</h2>
      </div>
      <div class="back-button"></div>
    </header>
    <div class="checkout">
      <div class="checkout__wrap">
        <div class="checkout__list">
          <div class="checkout__item">
            <div class="checkout__img"><img src="../images/checkout-1.jpg"></div>
            <div class="checkout__info">
              <div class="checkout__name">Удлиненная футболка с разрезами</div>
              <div class="checkout__id">FS151165</div><span class="btn btn_type_link btn-delete">Удалить</span>
            </div>
            <div class="checkout__price"> 
              <div class="checkout__price_regular">€15</div>
            </div>
            <table class="checkout__table">
              <tr>
                <td>S-L, Красный</td>
                <td> 
                  <input class="checkout__input" value="1" type="number">
                </td>
                <td><span class="checkout__item-delete"></span></td>
              </tr>
              <tr>
                <td>S-L, Бутылочный</td>
                <td> 
                  <input class="checkout__input" value="1" type="number">
                </td>
                <td><span class="checkout__item-delete"></span></td>
              </tr>
              <tr>
                <td>S-L, Голубой</td>
                <td> 
                  <input class="checkout__input" value="1" type="number">
                </td>
                <td><span class="checkout__item-delete"></span></td>
              </tr>
              <tr>
                <td>S-L, Фанго</td>
                <td> 
                  <input class="checkout__input" value="1" type="number">
                </td>
                <td><span class="checkout__item-delete"></span></td>
              </tr>
            </table>
            <div class="checkout__item-total-price"> <span class="checkout__item-number">4</span><span>&nbsp;×&nbsp;</span><span class="checkout__item-value">€60</span></div>
          </div>
          <div class="checkout__item checkout__item_sale">
            <div class="checkout__img"><img src="../images/checkout-1.jpg"></div>
            <div class="checkout__info">
              <div class="checkout__name">Платье с завязками на талии и рукавах</div>
              <div class="checkout__id">FS151165</div><span class="btn btn_type_link btn-delete">Удалить</span>
            </div>
            <div class="checkout__price"> 
              <div class="checkout__price_old">€15</div>
              <div class="checkout__price_sale">€8.5</div>
            </div>
            <table class="checkout__table">
              <tr>
                <td>S-L, Красный</td>
                <td> 
                  <input class="checkout__input" value="1" type="number">
                </td>
                <td><span class="checkout__item-delete"></span></td>
              </tr>
              <tr>
                <td>S-L, Красный</td>
                <td> 
                  <input class="checkout__input" value="1" type="number">
                </td>
                <td><span class="checkout__item-delete"></span></td>
              </tr>
            </table>
            <div class="checkout__item-total-price"> <span class="checkout__item-number">4</span><span>&nbsp;×&nbsp;</span><span class="checkout__item-value">€17</span></div>
          </div>
          <div class="checkout__item">
            <div class="checkout__img"><img src="../images/checkout-3.jpg"></div>
            <div class="checkout__info">
              <div class="checkout__name">Юбка А-силуэта из натурального шелка</div>
              <div class="checkout__id">FS151165</div><span class="btn btn_type_link btn-delete">Удалить</span>
            </div>
            <div class="checkout__price"> 
              <div class="checkout__price_regular">€22.5</div>
            </div>
            <table class="checkout__table">
              <tr>
                <td>S-L, Морская волна</td>
                <td> 
                  <input class="checkout__input" value="8" type="number">
                </td>
                <td><span class="checkout__item-delete"></span></td>
              </tr>
            </table>
            <div class="checkout__item-total-price"> <span class="checkout__item-number">8 </span><span>&nbsp;×&nbsp; </span><span class="checkout__item-value">€180</span></div>
          </div>
        </div>
      </div>
      <button class="checkout__submit">Оформить заказ на 2586 грн</button>
    </div>
    <script src="../components/jquery/dist/jquery.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
