app/views/blog-post.pug
extends layout.pug

block content
	ul.breadcrumbs
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Главная 
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") БЛОГ
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") МОДА И КРАСОТА
		li.breadcrumbs__item 5 МОДНЫХ ФИШЕК ЭТОГО ГОДА

	div.container
		
		div.post
			h2.post__title.title_center.title_size_l.title_gap_l Take — надежный оптовый поставщик одежды из Италии
			div.post__wrap
				div.post__summary Созданию оптовой компании Take it предшествовал нелегкий, но бесценный опыт работы. Именно он позволил
					| досконально изучить рынок готовой одежды в Италии и достойно представить в Украине уникальный в своем роде 
					| итальянский товар – модную, качественную и доступную одежду Пронто Мода. 
				div.post__media
					img.post__img(src="../images/blog-img-2.jpg" alt="")

				div.post__subtitle Вчера

				p.post__text Все началось в далеком теперь 2003-м году с работы в качестве франчайзи популярных итальянских брендов, среди
					| которых были Terranova, Calliope и Rinascimento, принадлежащие крупной компании Teddy S.p.A. Сотрудничество оказалось
					| эффективным. А открытие магазина Rinascimento, перепрофилированного позже в Imperial, стало многообещающим стартом
					| в работе с одежногождой Пронто Мода. 
					| При всей своей доступности этот товар итальянских фабрик демонстрировал высокое качество и отвечал новейшим 
					| модным тенденциям, более полувека обеспечивая успех малому и среднему бизнесу на рынках одежного ритейла не
					| только в самой Италии, но и во Франции, Германии, Испании, Голландии, Греции, Болгарии. Перспективность 
					| развития сегмента  Pronto Moda  в Украине обнадеживала.
					| Несколько последующих лет были посвящены глубокому исследованию итальянского рынка готовой одежды, расширению 
					| и налаживанию контактов с надежными поставщиками – непосредственными производителями одежды Pronto Moda в Италии, 
					| завоеванию духом единомышленниковерия и уважения к себе, как к честным и ответственным партнерам. 

				p.post__text Накопленные опыт, знания и связи обусловили переход к новому этапу развития бизнеса – самостоятельной 
					| оптовой 

				div.post__media
					img.post__img(src="../images/blog-video.jpg" alt="Видео") 

				div.post__subtitle Сегодня

				p.post__text Главное достояние Take-it сегодня – это сплоченная команда специалистов разных профессий и возрастов, 
					| сильных духом единомышленников, которых не сломили трудности, часто следующие по пятам больших побед. Будь то 
					| менеджер, маркетолог, байер, стилист, фотограф, модель, программист, журналист или  продавец  –  все это люди,  
					| любящие свою работу,  и  преданные  общей цели компании.
					| А цель остается неизменной: строить и поддерживать долгосрочные отношения с  клиентами по 
					| принципу "выиграл-выиграл", помогая  партнерам развивать процветающий розничный бизнес на основе товара Пронто Мода 
					| из Италии. Руководство  компании философски относится к  механизму получения собственной прибыли. "Она есть и будет 
					| всегда, если вы усердны, методы вашей работы честны, а  стремления сводятся не к одной личной выгоде, а и к 
					| высоким целям". Сегодня это кредо компании, подсказанное опытом. 
					| Поддерживать ведущие позиции на рынке Take-it помогает главное преимущество  –  низкие цены. Качественные, 
					| красивые и исключительно модные модели одежды европейского производства компания предлагает по ценам,
					| предполагающим возможность  установки экономически привлекательной наценки  при минимальных накладных  расходах.  

				div.post__media
					figure.post__figure
						img.post__img(src="../images/blog-img-1.jpg" alt="")
						figcaption.post__img-caption Наш склад в Италии

				div.post__subtitle Завтра

				p.post__text В сфере красоты американки выступают за естественность и ухоженность: девушки ценят здоровые волосы, ровные 
					| зубы и чистую кожу. Поэтому косметикой пользуются по минимуму – только чтобы подчеркнуть естественную красоту. 
					| Однако некоторые подростки любят поэкспериментировать с внешностью и перекрасить волосы в яркий цвет или сделать 
					| необычный макияж.

dist/html/blog-post.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="take-it">
    <meta name="keywords" content="take-it">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css">
    <title>Take-it</title>
  </head>
  <body>
    <header class="header">
      <div class="header__wrap">
        <nav class="menu">
          <div class="menu-opener"></div>
          <ul class="menu-list">
            <li class="menu-list__item"><a class="menu-list__link" href="catalog.html">Каталог</a></li>
            <li class="menu-list__item"><a class="menu-list__link" href="help.html">Помощь</a></li>
            <li class="menu-list__item"><a class="menu-list__link" href="contacts.html">Контакты</a></li>
          </ul>
        </nav><a class="logo" href="/"><img src="../images/logo.svg"></a>
        <div class="currency-toggle">
          <select class="currency">
            <option value="UAH" selected="">Украинская гривна</option>
            <option value="USD">Доллар США</option>
            <option value="RUB">Российский рубль</option>
            <option value="EUR">Евро</option>
          </select>
        </div>
        <div class="user-info"><a class="btn btn_type_btn btn_size_s btn-login" href="sign-in.html">Вход</a><a class="btn btn_type_btn btn_size_s btn-register" href="registration.html">Регистрация</a>
        </div>
      </div>
      <div class="menu-panel">
        <div class="menu-panel__close-icon"></div>
        <div class="header-menu">
          <div class="header-menu__name">Каталог</div>
          <ul class="header-menu__list">
            <li class="header-menu__item header-menu__item-submenu"><a class="header-menu__link" href="#">Верхняя одежда</a><i class="header-menu__icon header-menu__icon_up"></i>
              <ul class="header-menu__submenu">
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link header-menu__submenu-link_selected" href="#">Все</a></li>
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link" href="#">Вязаный жакет</a></li>
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link" href="#">Кофта</a></li>
              </ul>
            </li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Вязаная одежда</a><i class="header-menu__icon header-menu__icon_down"></i></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Брюки и юбки</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Аксессуары</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Верхняя одежда</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Футболки и топы</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Сорочки и блузы</a></li>
          </ul>
        </div>
        <ul class="links-list">
          <li class="links-list__item"><a class="links-list__link" href="help.html"> Помощь</a></li>
          <li class="links-list__item"><a class="links-list__link" href="contacts.html"> Контакты</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> О нас</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Сотрудничество</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Пронто мода</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Скидки</a></li>
          <li class="links-list__item"><a class="links-list__link" href="blog.html"> Блог</a></li>
          <li class="links-list__item"><a class="links-list__link" href="news.html"> Новости</a></li>
        </ul>
        <div class="menu-panel__bottom"><a class="btn btn_type_btn btn_size_s btn-login" href="#">Вход</a><a class="btn btn_type_btn btn_size_s btn-register" href="registration.html">Регистрация</a>
        </div>
      </div>
    </header>
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Главная </a></li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">БЛОГ</a></li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">МОДА И КРАСОТА</a></li>
      <li class="breadcrumbs__item">5 МОДНЫХ ФИШЕК ЭТОГО ГОДА</li>
    </ul>
    <div class="container">
      <div class="post">
        <h2 class="post__title title_center title_size_l title_gap_l">Take — надежный оптовый поставщик одежды из Италии</h2>
        <div class="post__wrap">
          <div class="post__summary">Созданию оптовой компании Take it предшествовал нелегкий, но бесценный опыт работы. Именно он позволил
            досконально изучить рынок готовой одежды в Италии и достойно представить в Украине уникальный в своем роде 
            итальянский товар – модную, качественную и доступную одежду Пронто Мода. 
          </div>
          <div class="post__media"><img class="post__img" src="../images/blog-img-2.jpg" alt=""></div>
          <div class="post__subtitle">Вчера</div>
          <p class="post__text">Все началось в далеком теперь 2003-м году с работы в качестве франчайзи популярных итальянских брендов, среди
            которых были Terranova, Calliope и Rinascimento, принадлежащие крупной компании Teddy S.p.A. Сотрудничество оказалось
            эффективным. А открытие магазина Rinascimento, перепрофилированного позже в Imperial, стало многообещающим стартом
            в работе с одежногождой Пронто Мода. 
            При всей своей доступности этот товар итальянских фабрик демонстрировал высокое качество и отвечал новейшим 
            модным тенденциям, более полувека обеспечивая успех малому и среднему бизнесу на рынках одежного ритейла не
            только в самой Италии, но и во Франции, Германии, Испании, Голландии, Греции, Болгарии. Перспективность 
            развития сегмента  Pronto Moda  в Украине обнадеживала.
            Несколько последующих лет были посвящены глубокому исследованию итальянского рынка готовой одежды, расширению 
            и налаживанию контактов с надежными поставщиками – непосредственными производителями одежды Pronto Moda в Италии, 
            завоеванию духом единомышленниковерия и уважения к себе, как к честным и ответственным партнерам. 
          </p>
          <p class="post__text">
            Накопленные опыт, знания и связи обусловили переход к новому этапу развития бизнеса – самостоятельной оптовой </p>
          <div class="post__media"><img class="post__img" src="../images/blog-video.jpg" alt="Видео"></div>
          <div class="post__subtitle">Сегодня</div>
          <p class="post__text">Главное достояние Take-it сегодня – это сплоченная команда специалистов разных профессий и возрастов, 
            сильных духом единомышленников, которых не сломили трудности, часто следующие по пятам больших побед. Будь то 
            менеджер, маркетолог, байер, стилист, фотограф, модель, программист, журналист или  продавец  –  все это люди,  
            любящие свою работу,  и  преданные  общей цели компании.
            А цель остается неизменной: строить и поддерживать долгосрочные отношения с  клиентами по 
            принципу "выиграл-выиграл", помогая  партнерам развивать процветающий розничный бизнес на основе товара Пронто Мода 
            из Италии. Руководство  компании философски относится к  механизму получения собственной прибыли. "Она есть и будет 
            всегда, если вы усердны, методы вашей работы честны, а  стремления сводятся не к одной личной выгоде, а и к 
            высоким целям". Сегодня это кредо компании, подсказанное опытом. 
            Поддерживать ведущие позиции на рынке Take-it помогает главное преимущество  –  низкие цены. Качественные, 
            красивые и исключительно модные модели одежды европейского производства компания предлагает по ценам,
            предполагающим возможность  установки экономически привлекательной наценки  при минимальных накладных  расходах.  
          </p>
          <div class="post__media">
            <figure class="post__figure"><img class="post__img" src="../images/blog-img-1.jpg" alt="">
              <figcaption class="post__img-caption">Наш склад в Италии</figcaption>
            </figure>
          </div>
          <div class="post__subtitle">Завтра</div>
          <p class="post__text">В сфере красоты американки выступают за естественность и ухоженность: девушки ценят здоровые волосы, ровные 
            зубы и чистую кожу. Поэтому косметикой пользуются по минимуму – только чтобы подчеркнуть естественную красоту. 
            Однако некоторые подростки любят поэкспериментировать с внешностью и перекрасить волосы в яркий цвет или сделать 
            необычный макияж.
          </p>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="subscribe">
        <h4 class="subscribe-title">УЗНАВАЙТЕ О ПОСТАВКАХ</h4>
        <form class="subscribe-form" action="">
          <input class="subscribe__input subscribe__email" type="text" placeholder="Email" required="yes" name="email">
          <input class="subscribe__input" type="text" placeholder="Мобильный (необязательно)" name="tel">
          <div class="radio-group">
            <div class="radio"><span class="radio__box">
                <input class="radio__input" type="radio" id="radio-1" name="subscribe"><span class="radio__circle"></span></span>
              <label class="radio__label" for="radio-1">Опт</label>
            </div>
            <div class="radio"><span class="radio__box">
                <input class="radio__input" type="radio" id="radio-2" name="subscribe"><span class="radio__circle"></span></span>
              <label class="radio__label" for="radio-2">Розница</label>
            </div>
          </div>
          <button class="subscribe-button" type="submit" disabled>Подписаться</button>
        </form>
      </div>
      <div class="footer-items">
        <div class="footer-item">
          <div class="tabs-menu">
            <ul class="tabs-menu__wrap">
              <li class="tabs-menu__item tabs-menu__item_selected" id="footer-tab-1"><span class="tabs-menu__link">Склад</span></li>
              <li class="tabs-menu__item" id="footer-tab-2"><span class="tabs-menu__link">Магазин</span></li>
            </ul>
          </div>
          <div class="tabs-panes">
            <div class="tabs-panes__pane tabs-panes__pane_active" aria-labelledby="footer-tab-1">
              <div class="address">
                <div class="address__line"><i class="address__metro-icon"></i>Позняки 1</div>
                <div class="address__line">ул. Ларисы Руденко 6а, офис 819</div>
                <div class="address__line">Киев, Украина</div>
              </div>
            </div>
            <div class="tabs-panes__pane" aria-labelledby="footer-tab-2">
              <div class="address">
                <div class="address__line"><i class="address__metro-icon"></i>Позняки 2</div>
                <div class="address__line">ул. Ларисы Руденко 6а, офис 819</div>
                <div class="address__line">Киев, Украина</div>
              </div>
            </div>
          </div>
          <div class="working-hours">
            Работаем по будням с 9 до 18.
            Предупредите о визите заранее.
          </div>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">Контакты склада</h4>
          <ul class="contacts">
            <li class="contacts__item"><span class="contacts__name">Городской</span><span class="contacts__value">(044) 593-84-49</span></li>
            <li class="contacts__item"><span class="contacts__name">МТС</span><span class="contacts__value">(050) 351-21-23</span></li>
            <li class="contacts__item"><span class="contacts__name">life:)</span><span class="contacts__value">(063) 262-84-08</span></li>
            <li class="contacts__item contacts__item_gap_l"><span class="contacts__name">Киевстар</span><span class="contacts__value">(067) 402-81-48</span></li>
            <li class="contacts__item"><span class="contacts__name">Email</span><span class="contacts__value">info@take.moda</span></li>
          </ul>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">О ТЭЙКЕ</h4>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Каталог</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Помощь</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Контакты </a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Карта сайта </a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">О нас</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Сотрудничество</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Пронто мода</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Скидки</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">БУДЬТЕ В КУРСЕ</h4>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Фейсбук</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">ВКонтакте</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Инстаграм </a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Новости</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Блог</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="paranja"></div>
    <script src="../components/jquery/dist/jquery.js"></script>
    <script src="../components/jquery-selectric/public/jquery.selectric.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
