dist/html/catalog.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="take-it">
    <meta name="keywords" content="take-it">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css">
    <title>Take-it</title>
  </head>
  <body>
    <header class="header">
      <div class="header__wrap">
        <nav class="menu">
          <div class="menu-opener"></div>
          <ul class="menu-list">
            <li class="menu-list__item"><a class="menu-list__link" href="catalog.html">Каталог</a></li>
            <li class="menu-list__item"><a class="menu-list__link" href="help.html">Помощь</a></li>
            <li class="menu-list__item"><a class="menu-list__link" href="contacts.html">Контакты</a></li>
          </ul>
        </nav><a class="logo" href="/"><img src="../images/logo.svg"></a>
        <div class="currency-toggle">
          <select class="currency">
            <option value="UAH" selected="">Украинская гривна</option>
            <option value="USD">Доллар США</option>
            <option value="RUB">Российский рубль</option>
            <option value="EUR">Евро</option>
          </select>
        </div>
        <div class="user-info"><a class="btn btn_type_btn btn_size_s btn-login" href="sign-in.html">Вход</a><a class="btn btn_type_btn btn_size_s btn-register" href="registration.html">Регистрация</a>
        </div>
      </div>
      <div class="menu-panel">
        <div class="menu-panel__close-icon"></div>
        <div class="header-menu">
          <div class="header-menu__name">Каталог</div>
          <ul class="header-menu__list">
            <li class="header-menu__item header-menu__item-submenu"><a class="header-menu__link" href="#">Верхняя одежда</a><i class="header-menu__icon header-menu__icon_up"></i>
              <ul class="header-menu__submenu">
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link header-menu__submenu-link_selected" href="#">Все</a></li>
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link" href="#">Вязаный жакет</a></li>
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link" href="#">Кофта</a></li>
              </ul>
            </li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Вязаная одежда</a><i class="header-menu__icon header-menu__icon_down"></i></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Брюки и юбки</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Аксессуары</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Верхняя одежда</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Футболки и топы</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Сорочки и блузы</a></li>
          </ul>
        </div>
        <ul class="links-list">
          <li class="links-list__item"><a class="links-list__link" href="help.html"> Помощь</a></li>
          <li class="links-list__item"><a class="links-list__link" href="contacts.html"> Контакты</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> О нас</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Сотрудничество</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Пронто мода</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Скидки</a></li>
          <li class="links-list__item"><a class="links-list__link" href="blog.html"> Блог</a></li>
          <li class="links-list__item"><a class="links-list__link" href="news.html"> Новости</a></li>
        </ul>
        <div class="menu-panel__bottom"><a class="btn btn_type_btn btn_size_s btn-login" href="#">Вход</a><a class="btn btn_type_btn btn_size_s btn-register" href="registration.html">Регистрация</a>
        </div>
      </div>
    </header>
    <ul class="catalog-menu">
      <li class="catalog-menu__item catalog-menu__item_selected"><a class="catalog-menu__link" href="#">ВСЕ</a></li>
      <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">ВЕРХНЯЯ ОДЕЖДА</a></li>
      <li class="catalog-menu__item"> <a class="catalog-menu__link" href="#">ВЯЗАНАЯ ОДЕЖДА</a></li>
      <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">БРЮКИ И ЮБКИ</a></li>
      <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">ПЛАТЬЯ И КОМБИ</a></li>
      <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">ФУТБОЛКИ И ТОПЫ</a></li>
      <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">СОРОЧКИ И БЛУЗЫ</a></li>
      <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">ОБУВЬ</a></li>
      <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">АКСЕССУАРЫ</a></li>
    </ul>
    <div class="catalog">
      <h3 class="title_size_m title_center catalog__title">ЖЕНСКАЯ ОДЕЖДА ОПТОМ</h3>
      <div class="catalog__summary">Это ваша возможность выбора из более чем 150-ти самых модных в этом сезоне, не похожих одна на другую 
        моделей. Свитеры, кардиганы, пончо, жакеты, жилеты, болеро. Все представленные в каталоге вещи являют… 
        моделей. Свитеры, кардиганы, пончо, жакеты, жилеты, болеро. Все представленные в каталоге вещи являют<i class="catalog__summary-icon catalog__summary-icon_open"></i>
      </div>
      <ul class="catalog__submenu">
        <li class="catalog__submenu-item"> <a class="catalog__submenu-link" href="#">Аксессуары</a></li>
        <li class="catalog__submenu-item"> <a class="catalog__submenu-link" href="#">Брюки и юбки</a></li>
        <li class="catalog__submenu-item"> <a class="catalog__submenu-link" href="#">Верхняя одежда</a></li>
      </ul>
      <ul class="catalog__submenu">
        <li class="catalog__submenu-item"> <a class="catalog__submenu-link" href="#">Вязаная одежда</a></li>
        <li class="catalog__submenu-item"> <a class="catalog__submenu-link" href="#">Комплекты и твинсеты</a></li>
        <li class="catalog__submenu-item"> <a class="catalog__submenu-link" href="#">Обувь</a></li>
      </ul>
      <ul class="catalog__submenu">
        <li class="catalog__submenu-item"> <a class="catalog__submenu-link" href="#">Платья и комбинезоны</a></li>
        <li class="catalog__submenu-item"> <a class="catalog__submenu-link" href="#">Сорочки и блузы</a></li>
        <li class="catalog__submenu-item"> <a class="catalog__submenu-link" href="#">Футболки и топы</a></li>
      </ul>
    </div>
    <div class="catalog-filters clearfix">
      <div class="catalog-filters__left left">
        <div class="search">
          <input class="search__input" type="text" placeholder="ПОИСК">
          <button class="search__submit" type="submit"></button>
        </div>
        <select class="delivery-select">
          <option value="all" selected="">Все поставки</option>
          <option value="delivery-select">Не все поставки</option>
        </select>
      </div>
      <div class="catalog-filters__right right">
        <div class="amount-list"><a class="amount-list__item amount-list__item_selected" href="#">50</a><a class="amount-list__item" href="#">100</a></div>
        <select class="price-select">
          <option value="low-price" selected="">По цене — сначала низкая</option>
          <option value="hight-price">По цене — сначала высокая</option>
        </select>
      </div>
    </div>
    <ul class="products">
      <li class="products-item products-item_sale">
        <div class="products-item__wrap">
          <figure><a class="products-item__link"><img class="products-item__img" src="../images/product-1.jpg">
              <div class="products-item__params">
                <div class="colors-title">Цвета</div>
                <ul class="colors">
                  <li>серый</li>
                  <li>синий</li>
                  <li>шоколадный</li>
                </ul>
                <div class="colors-title">Размеры</div>
                <ul class="sizes">
                  <li>XS</li>
                  <li>S</li>
                  <li>M</li>
                  <li>L</li>
                </ul>
              </div></a>
            <figcaption class="products-item__info"> 
              <div class="products-item__name">Короткая футболка из текстурной ткани с кружевной каймой</div>
              <div class="products-item__price"><span class="products-item__price_old">€10</span><span class="products-item__price_sale">€3</span>
              </div>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products-item">
        <div class="products-item__wrap">
          <figure><a class="products-item__link"><img class="products-item__img" src="../images/product-2.jpg">
              <div class="products-item__params">
                <div class="colors-title">Цвета</div>
                <ul class="colors">
                  <li>серый</li>
                  <li>синий</li>
                  <li>шоколадный</li>
                </ul>
                <div class="colors-title">Размеры</div>
                <ul class="sizes">
                  <li>XS</li>
                  <li>S</li>
                  <li>M</li>
                  <li>L</li>
                </ul>
              </div></a>
            <figcaption class="products-item__info"> 
              <div class="products-item__name">Удлиненная хлопковая туника</div>
              <div class="products-item__price"><span class="products-item__price_regular">8,7</span>
              </div>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products-item">
        <div class="products-item__wrap">
          <figure><a class="products-item__link"><img class="products-item__img" src="../images/product-3.jpg"></a>
            <figcaption class="products-item__info"> 
              <div class="products-item__name">Платье с завязками на талии и рукавах</div>
              <div class="products-item__price"><span class="products-item__price_regular">8,7</span>
              </div>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products-item">
        <div class="products-item__wrap">
          <figure><a class="products-item__link"><img class="products-item__img" src="../images/product-4.jpg"></a>
            <figcaption class="products-item__info"> 
              <div class="products-item__name">Скинни джинсы в стиле кэжуал</div>
              <div class="products-item__price"><span class="products-item__price_regular">6,7</span>
              </div>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products-item">
        <div class="products-item__wrap">
          <figure><a class="products-item__link"><img class="products-item__img" src="../images/product-5.jpg"></a>
            <figcaption class="products-item__info"> 
              <div class="products-item__name">Короткая футболка из текстурной ткани с кружевной каймой</div>
              <div class="products-item__price"><span class="products-item__price_regular">8,7</span>
              </div>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products-item">
        <div class="products-item__wrap">
          <figure><a class="products-item__link"><img class="products-item__img" src="../images/product-6.jpg"></a>
            <figcaption class="products-item__info"> 
              <div class="products-item__name">Удлиненная хлопковая туника</div>
              <div class="products-item__price"><span class="products-item__price_regular">8,7</span>
              </div>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products-item">
        <div class="products-item__wrap">
          <figure><a class="products-item__link"><img class="products-item__img" src="../images/product-7.jpg"></a>
            <figcaption class="products-item__info"> 
              <div class="products-item__name">Платье с завязками на талии и рукавах</div>
              <div class="products-item__price"><span class="products-item__price_regular">8,7</span>
              </div>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products-item">
        <div class="products-item__wrap">
          <figure><a class="products-item__link"><img class="products-item__img" src="../images/product-8.jpg"></a>
            <figcaption class="products-item__info"> 
              <div class="products-item__name">Скинни джинсы в стиле кэжуал</div>
              <div class="products-item__price"><span class="products-item__price_regular">6,7</span>
              </div>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products-item">
        <div class="products-item__wrap">
          <figure><a class="products-item__link"><img class="products-item__img" src="../images/product-9.jpg"></a>
            <figcaption class="products-item__info"> 
              <div class="products-item__name">Короткая футболка из текстурной ткани с кружевной каймой</div>
              <div class="products-item__price"><span class="products-item__price_regular">8,7</span>
              </div>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products-item">
        <div class="products-item__wrap">
          <figure><a class="products-item__link"><img class="products-item__img" src="../images/product-10.jpg"></a>
            <figcaption class="products-item__info"> 
              <div class="products-item__name">Удлиненная хлопковая туника</div>
              <div class="products-item__price"><span class="products-item__price_regular">8,7</span>
              </div>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products-item">
        <div class="products-item__wrap">
          <figure><a class="products-item__link"><img class="products-item__img" src="../images/product-11.jpg"></a>
            <figcaption class="products-item__info"> 
              <div class="products-item__name">Платье с завязками на талии и рукавах</div>
              <div class="products-item__price"><span class="products-item__price_regular">8,7</span>
              </div>
            </figcaption>
          </figure>
        </div>
      </li>
      <li class="products-item">
        <div class="products-item__wrap">
          <figure><a class="products-item__link"><img class="products-item__img" src="../images/product-12.jpg"></a>
            <figcaption class="products-item__info"> 
              <div class="products-item__name">Скинни джинсы в стиле кэжуал</div>
              <div class="products-item__price"><span class="products-item__price_regular">6,7</span>
              </div>
            </figcaption>
          </figure>
        </div>
      </li>
    </ul>
    <div class="pager"><a class="pager__back" href="#">Назад</a>
      <div class="pager__pages"><a class="pager__item pager__item_current" href="#">1</a><a class="pager__item" href="#">2</a><a class="pager__item" href="#">3</a><a class="pager__item" href="#">4</a></div><a class="pager__next" href="#">Вперед</a>
    </div>
    <footer class="footer">
      <div class="subscribe">
        <h4 class="subscribe-title">УЗНАВАЙТЕ О ПОСТАВКАХ</h4>
        <form class="subscribe-form" action="">
          <input class="subscribe__input subscribe__email" type="text" placeholder="Email" required="yes" name="email">
          <input class="subscribe__input" type="text" placeholder="Мобильный (необязательно)" name="tel">
          <div class="radio-group">
            <div class="radio"><span class="radio__box">
                <input class="radio__input" type="radio" id="radio-1" name="subscribe"><span class="radio__circle"></span></span>
              <label class="radio__label" for="radio-1">Опт</label>
            </div>
            <div class="radio"><span class="radio__box">
                <input class="radio__input" type="radio" id="radio-2" name="subscribe"><span class="radio__circle"></span></span>
              <label class="radio__label" for="radio-2">Розница</label>
            </div>
          </div>
          <button class="subscribe-button" type="submit" disabled>Подписаться</button>
        </form>
      </div>
      <div class="footer-items">
        <div class="footer-item">
          <div class="tabs-menu">
            <ul class="tabs-menu__wrap">
              <li class="tabs-menu__item tabs-menu__item_selected" id="footer-tab-1"><span class="tabs-menu__link">Склад</span></li>
              <li class="tabs-menu__item" id="footer-tab-2"><span class="tabs-menu__link">Магазин</span></li>
            </ul>
          </div>
          <div class="tabs-panes">
            <div class="tabs-panes__pane tabs-panes__pane_active" aria-labelledby="footer-tab-1">
              <div class="address">
                <div class="address__line"><i class="address__metro-icon"></i>Позняки 1</div>
                <div class="address__line">ул. Ларисы Руденко 6а, офис 819</div>
                <div class="address__line">Киев, Украина</div>
              </div>
            </div>
            <div class="tabs-panes__pane" aria-labelledby="footer-tab-2">
              <div class="address">
                <div class="address__line"><i class="address__metro-icon"></i>Позняки 2</div>
                <div class="address__line">ул. Ларисы Руденко 6а, офис 819</div>
                <div class="address__line">Киев, Украина</div>
              </div>
            </div>
          </div>
          <div class="working-hours">
            Работаем по будням с 9 до 18.
            Предупредите о визите заранее.
          </div>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">Контакты склада</h4>
          <ul class="contacts">
            <li class="contacts__item"><span class="contacts__name">Городской</span><span class="contacts__value">(044) 593-84-49</span></li>
            <li class="contacts__item"><span class="contacts__name">МТС</span><span class="contacts__value">(050) 351-21-23</span></li>
            <li class="contacts__item"><span class="contacts__name">life:)</span><span class="contacts__value">(063) 262-84-08</span></li>
            <li class="contacts__item contacts__item_gap_l"><span class="contacts__name">Киевстар</span><span class="contacts__value">(067) 402-81-48</span></li>
            <li class="contacts__item"><span class="contacts__name">Email</span><span class="contacts__value">info@take.moda</span></li>
          </ul>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">О ТЭЙКЕ</h4>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Каталог</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Помощь</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Контакты </a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Карта сайта </a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">О нас</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Сотрудничество</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Пронто мода</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Скидки</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">БУДЬТЕ В КУРСЕ</h4>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Фейсбук</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">ВКонтакте</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Инстаграм </a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Новости</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Блог</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="paranja"></div>
    <script src="../components/jquery/dist/jquery.js"></script>
    <script src="../components/jquery-selectric/public/jquery.selectric.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>

app/views/catalog.pug
extends layout.pug

block vars
	-  
		products = [
			{ 
				src: 'product-1.jpg', 
				priceSale: '€3',
				priceOld: '€10',
				isSale: 'true',
				title: 'Короткая футболка из текстурной ткани с кружевной каймой',
				colors: ['серый', 'синий', 'шоколадный'],
				sizes: ['XS', 'S', 'M', 'L']
			},
			{ 
				src: 'product-2.jpg', 
				price: '8,7',
				title: 'Удлиненная хлопковая туника',
				colors: ['серый', 'синий', 'шоколадный'],
				sizes: ['XS', 'S', 'M', 'L']
			},
			{ 
				src: 'product-3.jpg', 
				price: '8,7',
				title: 'Платье с завязками на талии и рукавах'
			},
			{ 
				src: 'product-4.jpg', 
				price: '6,7',
				title: 'Скинни джинсы в стиле кэжуал'
			},
			{ 
				src: 'product-5.jpg', 
				price: '8,7',
				'low-price': '3',
				title: 'Короткая футболка из текстурной ткани с кружевной каймой'
			},
			{ 
				src: 'product-6.jpg', 
				price: '8,7',
				title: 'Удлиненная хлопковая туника'
			},
			{ 
				src: 'product-7.jpg', 
				price: '8,7',
				title: 'Платье с завязками на талии и рукавах'
			},
			{ 
				src: 'product-8.jpg', 
				price: '6,7',
				title: 'Скинни джинсы в стиле кэжуал'
			},
			{ 
				src: 'product-9.jpg', 
				price: '8,7',
				'low-price': '3',
				title: 'Короткая футболка из текстурной ткани с кружевной каймой'
			},
			{ 
				src: 'product-10.jpg', 
				price: '8,7',
				title: 'Удлиненная хлопковая туника'
			},
			{ 
				src: 'product-11.jpg', 
				price: '8,7',
				title: 'Платье с завязками на талии и рукавах'
			},
			{ 
				src: 'product-12.jpg', 
				price: '6,7',
				title: 'Скинни джинсы в стиле кэжуал'
			}
		]

block content
	ul.catalog-menu
		li.catalog-menu__item.catalog-menu__item_selected
			a.catalog-menu__link(href="#") ВСЕ
		li.catalog-menu__item
			a.catalog-menu__link(href="#") ВЕРХНЯЯ ОДЕЖДА
		li.catalog-menu__item 
			a.catalog-menu__link(href="#") ВЯЗАНАЯ ОДЕЖДА
		li.catalog-menu__item
			a.catalog-menu__link(href="#") БРЮКИ И ЮБКИ
		li.catalog-menu__item
			a.catalog-menu__link(href="#") ПЛАТЬЯ И КОМБИ
		li.catalog-menu__item
			a.catalog-menu__link(href="#") ФУТБОЛКИ И ТОПЫ
		li.catalog-menu__item
			a.catalog-menu__link(href="#") СОРОЧКИ И БЛУЗЫ
		li.catalog-menu__item
			a.catalog-menu__link(href="#") ОБУВЬ
		li.catalog-menu__item
			a.catalog-menu__link(href="#") АКСЕССУАРЫ
		
	div.catalog
		h3.title_size_m.title_center.catalog__title ЖЕНСКАЯ ОДЕЖДА ОПТОМ
		div.catalog__summary Это ваша возможность выбора из более чем 150-ти самых модных в этом сезоне, не похожих одна на другую 
			| моделей. Свитеры, кардиганы, пончо, жакеты, жилеты, болеро. Все представленные в каталоге вещи являют… 
			| моделей. Свитеры, кардиганы, пончо, жакеты, жилеты, болеро. Все представленные в каталоге вещи являют
			i.catalog__summary-icon.catalog__summary-icon_open
		ul.catalog__submenu
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Аксессуары
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Брюки и юбки
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Верхняя одежда

		ul.catalog__submenu
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Вязаная одежда
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Комплекты и твинсеты
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Обувь

		ul.catalog__submenu
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Платья и комбинезоны
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Сорочки и блузы
			li.catalog__submenu-item 
				a.catalog__submenu-link(href="#") Футболки и топы

	.catalog-filters.clearfix
		.catalog-filters__left.left
			.search
				input.search__input(type="text" placeholder="ПОИСК")
				button.search__submit(type="submit")

			select.delivery-select
				option(value="all" selected="") Все поставки
				option(value="delivery-select") Не все поставки

		.catalog-filters__right.right
			.amount-list
				a.amount-list__item.amount-list__item_selected(href="#") 50
				a.amount-list__item(href="#") 100

			select.price-select
				option(value="low-price" selected="") По цене — сначала низкая
				option(value="hight-price") По цене — сначала высокая

	ul.products
		for item in products
			li.products-item(class=(typeof item.isSale === 'undefined' ? '' : 'products-item_sale'))
				div.products-item__wrap
					figure
						a.products-item__link
							img.products-item__img(src= '../images/' + item.src)
							if (item.colors || item.sizes)
								div.products-item__params
									if (item.colors)
										div.colors-title Цвета
										ul.colors
											for color in item.colors
												li= color
									if (item.sizes)
										div.colors-title Размеры
										ul.sizes
											for size in item.sizes
												li= size

						figcaption.products-item__info 
							div.products-item__name= item.title
							div.products-item__price
								if item.priceOld 
									span.products-item__price_old= item.priceOld
								if item.price 
									span.products-item__price_regular= item.price
								if item.priceSale 
									span.products-item__price_sale= item.priceSale

	div.pager
		a.pager__back(href="#") Назад
		div.pager__pages
			a.pager__item.pager__item_current(href="#") 1
			a.pager__item(href="#") 2
			a.pager__item(href="#") 3
			a.pager__item(href="#") 4
		a.pager__next(href="#") Вперед
