dist/html/checkout.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="take-it">
    <meta name="keywords" content="take-it">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css">
    <title>Take-it</title>
  </head>
  <body>
    <header class="header">
      <div class="header__wrap">
        <nav class="menu">
          <div class="menu-opener"></div>
          <ul class="menu-list">
            <li class="menu-list__item"><a class="menu-list__link" href="catalog.html">Каталог</a></li>
            <li class="menu-list__item"><a class="menu-list__link" href="help.html">Помощь</a></li>
            <li class="menu-list__item"><a class="menu-list__link" href="contacts.html">Контакты</a></li>
          </ul>
        </nav><a class="logo" href="/"><img src="../images/logo.svg"></a>
        <div class="currency-toggle">
          <select class="currency">
            <option value="UAH" selected="">Украинская гривна</option>
            <option value="USD">Доллар США</option>
            <option value="RUB">Российский рубль</option>
            <option value="EUR">Евро</option>
          </select>
        </div>
        <div class="user-info"><a class="btn btn_type_btn btn_size_s btn-login" href="sign-in.html">Вход</a><a class="btn btn_type_btn btn_size_s btn-register" href="registration.html">Регистрация</a>
        </div>
      </div>
      <div class="menu-panel">
        <div class="menu-panel__close-icon"></div>
        <div class="header-menu">
          <div class="header-menu__name">Каталог</div>
          <ul class="header-menu__list">
            <li class="header-menu__item header-menu__item-submenu"><a class="header-menu__link" href="#">Верхняя одежда</a><i class="header-menu__icon header-menu__icon_up"></i>
              <ul class="header-menu__submenu">
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link header-menu__submenu-link_selected" href="#">Все</a></li>
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link" href="#">Вязаный жакет</a></li>
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link" href="#">Кофта</a></li>
              </ul>
            </li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Вязаная одежда</a><i class="header-menu__icon header-menu__icon_down"></i></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Брюки и юбки</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Аксессуары</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Верхняя одежда</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Футболки и топы</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Сорочки и блузы</a></li>
          </ul>
        </div>
        <ul class="links-list">
          <li class="links-list__item"><a class="links-list__link" href="help.html"> Помощь</a></li>
          <li class="links-list__item"><a class="links-list__link" href="contacts.html"> Контакты</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> О нас</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Сотрудничество</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Пронто мода</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Скидки</a></li>
          <li class="links-list__item"><a class="links-list__link" href="blog.html"> Блог</a></li>
          <li class="links-list__item"><a class="links-list__link" href="news.html"> Новости</a></li>
        </ul>
        <div class="menu-panel__bottom"><a class="btn btn_type_btn btn_size_s btn-login" href="#">Вход</a><a class="btn btn_type_btn btn_size_s btn-register" href="registration.html">Регистрация</a>
        </div>
      </div>
    </header>
    <div class="checkout">
      <div class="checkout__wrap">
        <div class="checkout__panel">
          <div class="checkout__panel-left"><a class="btn btn_type_link btn-back" href="#">Вернуться в каталог</a></div>
          <div class="checkout__panel-center">
            <h3 class="title title_size_l">Корзина</h3>
          </div>
        </div>
        <div class="checkout__list">
          <div class="checkout__item">
            <div class="checkout__img"><img src="../images/checkout-1.jpg"></div>
            <div class="checkout__info">
              <div class="checkout__name">Удлиненная футболка с разрезами</div>
              <div class="checkout__id">FS151165</div><span class="btn btn_type_link btn-delete">Удалить</span>
            </div>
            <div class="checkout__price"> 
              <div class="checkout__price_regular">€15</div>
            </div>
            <table class="checkout__table">
              <tr>
                <td>S-L, Красный</td>
                <td> 
                  <input class="checkout__input" value="1" type="number">
                </td>
                <td><span class="checkout__item-delete"></span></td>
              </tr>
              <tr>
                <td>S-L, Бутылочный</td>
                <td> 
                  <input class="checkout__input" value="1" type="number">
                </td>
                <td><span class="checkout__item-delete"></span></td>
              </tr>
              <tr>
                <td>S-L, Голубой</td>
                <td> 
                  <input class="checkout__input" value="1" type="number">
                </td>
                <td><span class="checkout__item-delete"></span></td>
              </tr>
              <tr>
                <td>S-L, Фанго</td>
                <td> 
                  <input class="checkout__input" value="1" type="number">
                </td>
                <td><span class="checkout__item-delete"></span></td>
              </tr>
            </table>
            <div class="checkout__item-total-price"> <span class="checkout__item-number">4</span><span>&nbsp;×&nbsp;</span><span class="checkout__item-value">€60</span></div>
          </div>
          <div class="checkout__item checkout__item_sale">
            <div class="checkout__img"><img src="../images/checkout-1.jpg"></div>
            <div class="checkout__info">
              <div class="checkout__name">Платье с завязками на талии и рукавах</div>
              <div class="checkout__id">FS151165</div><span class="btn btn_type_link btn-delete">Удалить</span>
            </div>
            <div class="checkout__price"> 
              <div class="checkout__price_old">€15</div>
              <div class="checkout__price_sale">€8.5</div>
            </div>
            <table class="checkout__table">
              <tr>
                <td>S-L, Красный</td>
                <td> 
                  <input class="checkout__input" value="1" type="number">
                </td>
                <td><span class="checkout__item-delete"></span></td>
              </tr>
              <tr>
                <td>S-L, Красный</td>
                <td> 
                  <input class="checkout__input" value="1" type="number">
                </td>
                <td><span class="checkout__item-delete"></span></td>
              </tr>
            </table>
            <div class="checkout__item-total-price"> <span class="checkout__item-number">4</span><span>&nbsp;×&nbsp;</span><span class="checkout__item-value">€17</span></div>
          </div>
          <div class="checkout__item">
            <div class="checkout__img"><img src="../images/checkout-3.jpg"></div>
            <div class="checkout__info">
              <div class="checkout__name">Юбка А-силуэта из натурального шелка</div>
              <div class="checkout__id">FS151165</div><span class="btn btn_type_link btn-delete">Удалить</span>
            </div>
            <div class="checkout__price"> 
              <div class="checkout__price_regular">€22.5</div>
            </div>
            <table class="checkout__table">
              <tr>
                <td>S-L, Морская волна</td>
                <td> 
                  <input class="checkout__input" value="8" type="number">
                </td>
                <td><span class="checkout__item-delete"></span></td>
              </tr>
            </table>
            <div class="checkout__item-total-price"> <span class="checkout__item-number">8 </span><span>&nbsp;×&nbsp; </span><span class="checkout__item-value">€180</span></div>
          </div>
        </div>
        <div class="checkout__panel">
          <div class="checkout__panel-left"><a class="btn btn_type_link btn-back" href="#">Вернуться в каталог</a></div>
          <div class="checkout__panel-center">
            <div class="checkout__summary"><span>Итого</span>
              <div class="checkout__total-price">€257</div>
              <button class="checkout__submit btn btn_theme_green btn_size_m btn_type_btn btn_size_full">ОФОРМИТЬ ЗАКАЗ</button>
              <div class="checkout__delivery">Стоимость доставки будет высчитана на следующем шаге.</div>
            </div>
          </div>
          <div class="checkout__panel-right"><a class="btn btn_type_link btn-delete" href="#">Удалить все</a></div>
        </div>
      </div>
    </div>
    <div class="paranja"></div>
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>

app/views/checkout.pug
extends layout.pug

block footer
	div.paranja

	script(src="../../bower_components/jquery/dist/jquery.js")
	script(src="../js/app.js")


block content
	div.checkout
		div.checkout__wrap
			div.checkout__panel
				div.checkout__panel-left
					a.btn.btn_type_link.btn-back(href="#") Вернуться в каталог
				div.checkout__panel-center
					h3.title.title_size_l Корзина

			div.checkout__list
				div.checkout__item
					div.checkout__img
						img(src="../images/checkout-1.jpg")

					div.checkout__info
						div.checkout__name Удлиненная футболка с разрезами
						div.checkout__id FS151165
						span.btn.btn_type_link.btn-delete Удалить

					div.checkout__price 
						div.checkout__price_regular €15

					table.checkout__table
						tr
							td S-L, Красный
							td 
								input.checkout__input(value=1 type="number")
							td
								span.checkout__item-delete
						tr
							td S-L, Бутылочный
							td 
								input.checkout__input(value=1 type="number")
							td
								span.checkout__item-delete

						tr
							td S-L, Голубой
							td 
								input.checkout__input(value=1 type="number")
							td
								span.checkout__item-delete

						tr
							td S-L, Фанго
							td 
								input.checkout__input(value=1 type="number")
							td
								span.checkout__item-delete

					div.checkout__item-total-price 
						span.checkout__item-number 4
						span &nbsp;×&nbsp;
						span.checkout__item-value €60

				div.checkout__item.checkout__item_sale
					div.checkout__img
						img(src="../images/checkout-1.jpg")

					div.checkout__info
						div.checkout__name Платье с завязками на талии и рукавах
						div.checkout__id FS151165
						span.btn.btn_type_link.btn-delete Удалить

					div.checkout__price 
						div.checkout__price_old €15
						div.checkout__price_sale €8.5

					table.checkout__table
						tr
							td S-L, Красный
							td 
								input.checkout__input(value=1 type="number")
							td
								span.checkout__item-delete

						tr
							td S-L, Красный
							td 
								input.checkout__input(value=1 type="number")
							td
								span.checkout__item-delete


					div.checkout__item-total-price 
						span.checkout__item-number 4
						span &nbsp;×&nbsp;
						span.checkout__item-value €17

				div.checkout__item
					div.checkout__img
						img(src="../images/checkout-3.jpg")

					div.checkout__info
						div.checkout__name Юбка А-силуэта из натурального шелка
						div.checkout__id FS151165
						span.btn.btn_type_link.btn-delete Удалить

					div.checkout__price 
						div.checkout__price_regular €22.5

					table.checkout__table
						tr
							td S-L, Морская волна
							td 
								input.checkout__input(value=8 type="number")
							td
								span.checkout__item-delete

					div.checkout__item-total-price 
						span.checkout__item-number 8 
						span &nbsp;×&nbsp; 
						span.checkout__item-value €180

			div.checkout__panel
				div.checkout__panel-left
					a.btn.btn_type_link.btn-back(href="#") Вернуться в каталог
				div.checkout__panel-center
					div.checkout__summary
						span Итого
						div.checkout__total-price €257
						button.checkout__submit.btn.btn_theme_green.btn_size_m.btn_type_btn.btn_size_full(type=submit) ОФОРМИТЬ ЗАКАЗ
						div.checkout__delivery Стоимость доставки будет высчитана на следующем шаге.

					
				div.checkout__panel-right
					a.btn.btn_type_link.btn-delete(href="#") Удалить все
