app/views/contacts.pug
extends layout.pug

block content
	ul.breadcrumbs
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Главная 
		li.breadcrumbs__item Контакты

	section.container
		div.col__wrap
			div.col_2
				h3.title Контакты склада
				div.map
					img.map__img(src="../images/map.png" alt="")

				div.col__wrap
					div.col_4
						div.address
							div.address__line
								i.address__metro-icon
								| Позняки 1
							div.address__line
								| ул. Ларисы Руденко 6а, офис 819
							div.address__line
								| Киев, Украина

						div.working-hours
							| Работаем по будням с 9 до 18.
							| Предупредите о визите заранее.

					div.col_4
						ul.contacts
							li.contacts__item
								span.contacts__name Городской
								span.contacts__value (044) 593-84-49
							li.contacts__item
								span.contacts__name МТС
								span.contacts__value (050) 351-21-23
							li.contacts__item
								span.contacts__name life:)
								span.contacts__value (063) 262-84-08
							li.contacts__item
								span.contacts__name Киевстар
								span.contacts__value (067) 402-81-48
							li.contacts__item
								span.contacts__name Email
								span.contacts__value info@take.moda


			div.col_2
				h3.title Контакты магазина
				div.map
					img.map__img(src="../images/map.png" alt="")

				div.col__wrap
					div.col_4
						div.address
							div.address__line
								i.address__metro-icon
								| Позняки 1
							div.address__line
								| ул. Ларисы Руденко 6а, офис 819
							div.address__line
								| Киев, Украина

						div.working-hours
							| Работаем без выходных с 10 до 22.

					div.col_4
						ul.contacts
							li.contacts__item
								span.contacts__name Городской
								span.contacts__value (044) 332-87-52
							li.contacts__item
								span.contacts__name МТС
								span.contacts__value (050) 469-83-93
							
							li.contacts__item.contacts__item-email
								span.contacts__name Email
								span.contacts__value info@emozioni.com.ua

		div.contact-form
			h3.title.title_size_l.title_gap_xs Задать вопрос
			div.contact-form__text Ответим в течение одного рабочего дня.

			form.contact-form__form(action="#")
				div.contact-form__row
					input.contact-form__input(type='text' name='email' placeholder='Email' required)
					input.contact-form__input(type='text' name='tel' placeholder='Телефон (по желанию)')

				div.contact-form__row
					textarea.contact-form__textarea(placeholder="Ваш вопрос")

				div.contact-form__row
					button.contact-form__submit(type="submit" disabled) Отправить

dist/html/contacts.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="take-it">
    <meta name="keywords" content="take-it">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css">
    <title>Take-it</title>
  </head>
  <body>
    <header class="header">
      <div class="header__wrap">
        <nav class="menu">
          <div class="menu-opener"></div>
          <ul class="menu-list">
            <li class="menu-list__item"><a class="menu-list__link" href="catalog.html">Каталог</a></li>
            <li class="menu-list__item"><a class="menu-list__link" href="help.html">Помощь</a></li>
            <li class="menu-list__item"><a class="menu-list__link" href="contacts.html">Контакты</a></li>
          </ul>
        </nav><a class="logo" href="/"><img src="../images/logo.svg"></a>
        <div class="currency-toggle">
          <select class="currency">
            <option value="UAH" selected="">Украинская гривна</option>
            <option value="USD">Доллар США</option>
            <option value="RUB">Российский рубль</option>
            <option value="EUR">Евро</option>
          </select>
        </div>
        <div class="user-info"><a class="btn btn_type_btn btn_size_s btn-login" href="sign-in.html">Вход</a><a class="btn btn_type_btn btn_size_s btn-register" href="registration.html">Регистрация</a>
        </div>
      </div>
      <div class="menu-panel">
        <div class="menu-panel__close-icon"></div>
        <div class="header-menu">
          <div class="header-menu__name">Каталог</div>
          <ul class="header-menu__list">
            <li class="header-menu__item header-menu__item-submenu"><a class="header-menu__link" href="#">Верхняя одежда</a><i class="header-menu__icon header-menu__icon_up"></i>
              <ul class="header-menu__submenu">
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link header-menu__submenu-link_selected" href="#">Все</a></li>
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link" href="#">Вязаный жакет</a></li>
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link" href="#">Кофта</a></li>
              </ul>
            </li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Вязаная одежда</a><i class="header-menu__icon header-menu__icon_down"></i></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Брюки и юбки</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Аксессуары</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Верхняя одежда</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Футболки и топы</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Сорочки и блузы</a></li>
          </ul>
        </div>
        <ul class="links-list">
          <li class="links-list__item"><a class="links-list__link" href="help.html"> Помощь</a></li>
          <li class="links-list__item"><a class="links-list__link" href="contacts.html"> Контакты</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> О нас</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Сотрудничество</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Пронто мода</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Скидки</a></li>
          <li class="links-list__item"><a class="links-list__link" href="blog.html"> Блог</a></li>
          <li class="links-list__item"><a class="links-list__link" href="news.html"> Новости</a></li>
        </ul>
        <div class="menu-panel__bottom"><a class="btn btn_type_btn btn_size_s btn-login" href="#">Вход</a><a class="btn btn_type_btn btn_size_s btn-register" href="registration.html">Регистрация</a>
        </div>
      </div>
    </header>
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Главная </a></li>
      <li class="breadcrumbs__item">Контакты</li>
    </ul>
    <section class="container">
      <div class="col__wrap">
        <div class="col_2">
          <h3 class="title">Контакты склада</h3>
          <div class="map"><img class="map__img" src="../images/map.png" alt=""></div>
          <div class="col__wrap">
            <div class="col_4">
              <div class="address">
                <div class="address__line"><i class="address__metro-icon"></i>Позняки 1</div>
                <div class="address__line">ул. Ларисы Руденко 6а, офис 819</div>
                <div class="address__line">Киев, Украина</div>
              </div>
              <div class="working-hours">
                Работаем по будням с 9 до 18.
                Предупредите о визите заранее.
              </div>
            </div>
            <div class="col_4">
              <ul class="contacts">
                <li class="contacts__item"><span class="contacts__name">Городской</span><span class="contacts__value">(044) 593-84-49</span></li>
                <li class="contacts__item"><span class="contacts__name">МТС</span><span class="contacts__value">(050) 351-21-23</span></li>
                <li class="contacts__item"><span class="contacts__name">life:)</span><span class="contacts__value">(063) 262-84-08</span></li>
                <li class="contacts__item"><span class="contacts__name">Киевстар</span><span class="contacts__value">(067) 402-81-48</span></li>
                <li class="contacts__item"><span class="contacts__name">Email</span><span class="contacts__value">info@take.moda</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col_2">
          <h3 class="title">Контакты магазина</h3>
          <div class="map"><img class="map__img" src="../images/map.png" alt=""></div>
          <div class="col__wrap">
            <div class="col_4">
              <div class="address">
                <div class="address__line"><i class="address__metro-icon"></i>Позняки 1</div>
                <div class="address__line">ул. Ларисы Руденко 6а, офис 819</div>
                <div class="address__line">Киев, Украина</div>
              </div>
              <div class="working-hours">Работаем без выходных с 10 до 22.</div>
            </div>
            <div class="col_4">
              <ul class="contacts">
                <li class="contacts__item"><span class="contacts__name">Городской</span><span class="contacts__value">(044) 332-87-52</span></li>
                <li class="contacts__item"><span class="contacts__name">МТС</span><span class="contacts__value">(050) 469-83-93</span></li>
                <li class="contacts__item contacts__item-email"><span class="contacts__name">Email</span><span class="contacts__value">info@emozioni.com.ua</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-form">
        <h3 class="title title_size_l title_gap_xs">Задать вопрос</h3>
        <div class="contact-form__text">Ответим в течение одного рабочего дня.</div>
        <form class="contact-form__form" action="#">
          <div class="contact-form__row">
            <input class="contact-form__input" type="text" name="email" placeholder="Email" required>
            <input class="contact-form__input" type="text" name="tel" placeholder="Телефон (по желанию)">
          </div>
          <div class="contact-form__row">
            <textarea class="contact-form__textarea" placeholder="Ваш вопрос"></textarea>
          </div>
          <div class="contact-form__row">
            <button class="contact-form__submit" type="submit" disabled>Отправить</button>
          </div>
        </form>
      </div>
    </section>
    <footer class="footer">
      <div class="subscribe">
        <h4 class="subscribe-title">УЗНАВАЙТЕ О ПОСТАВКАХ</h4>
        <form class="subscribe-form" action="">
          <input class="subscribe__input subscribe__email" type="text" placeholder="Email" required="yes" name="email">
          <input class="subscribe__input" type="text" placeholder="Мобильный (необязательно)" name="tel">
          <div class="radio-group">
            <div class="radio"><span class="radio__box">
                <input class="radio__input" type="radio" id="radio-1" name="subscribe"><span class="radio__circle"></span></span>
              <label class="radio__label" for="radio-1">Опт</label>
            </div>
            <div class="radio"><span class="radio__box">
                <input class="radio__input" type="radio" id="radio-2" name="subscribe"><span class="radio__circle"></span></span>
              <label class="radio__label" for="radio-2">Розница</label>
            </div>
          </div>
          <button class="subscribe-button" type="submit" disabled>Подписаться</button>
        </form>
      </div>
      <div class="footer-items">
        <div class="footer-item">
          <div class="tabs-menu">
            <ul class="tabs-menu__wrap">
              <li class="tabs-menu__item tabs-menu__item_selected" id="footer-tab-1"><span class="tabs-menu__link">Склад</span></li>
              <li class="tabs-menu__item" id="footer-tab-2"><span class="tabs-menu__link">Магазин</span></li>
            </ul>
          </div>
          <div class="tabs-panes">
            <div class="tabs-panes__pane tabs-panes__pane_active" aria-labelledby="footer-tab-1">
              <div class="address">
                <div class="address__line"><i class="address__metro-icon"></i>Позняки 1</div>
                <div class="address__line">ул. Ларисы Руденко 6а, офис 819</div>
                <div class="address__line">Киев, Украина</div>
              </div>
            </div>
            <div class="tabs-panes__pane" aria-labelledby="footer-tab-2">
              <div class="address">
                <div class="address__line"><i class="address__metro-icon"></i>Позняки 2</div>
                <div class="address__line">ул. Ларисы Руденко 6а, офис 819</div>
                <div class="address__line">Киев, Украина</div>
              </div>
            </div>
          </div>
          <div class="working-hours">
            Работаем по будням с 9 до 18.
            Предупредите о визите заранее.
          </div>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">Контакты склада</h4>
          <ul class="contacts">
            <li class="contacts__item"><span class="contacts__name">Городской</span><span class="contacts__value">(044) 593-84-49</span></li>
            <li class="contacts__item"><span class="contacts__name">МТС</span><span class="contacts__value">(050) 351-21-23</span></li>
            <li class="contacts__item"><span class="contacts__name">life:)</span><span class="contacts__value">(063) 262-84-08</span></li>
            <li class="contacts__item contacts__item_gap_l"><span class="contacts__name">Киевстар</span><span class="contacts__value">(067) 402-81-48</span></li>
            <li class="contacts__item"><span class="contacts__name">Email</span><span class="contacts__value">info@take.moda</span></li>
          </ul>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">О ТЭЙКЕ</h4>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Каталог</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Помощь</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Контакты </a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Карта сайта </a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">О нас</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Сотрудничество</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Пронто мода</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Скидки</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">БУДЬТЕ В КУРСЕ</h4>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Фейсбук</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">ВКонтакте</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Инстаграм </a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Новости</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Блог</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="paranja"></div>
    <script src="../components/jquery/dist/jquery.js"></script>
    <script src="../components/jquery-selectric/public/jquery.selectric.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
