app/views/help.pug

extends layout.pug

block content
	ul.breadcrumbs
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Главная 
		li.breadcrumbs__item Помощь

	section.container
			div.container__wrap
				h2.title.title_help Помощь
				div.container__column
					div.faq
						h3.faq__title РЕГИСТРАЦИЯ И РАССЫЛКА
						ul.faq__list
							li.faq__item
								div.faq__question Зачем нужна регистрация на сайте?
								div.faq__answer Test
							
							li.faq__item
								div.faq__question Когда мне откроют доступ к ценам?
								div.faq__answer Test
							
							li.faq__item 
								div.faq__question Зачем мне получать вашу рассылку?
								div.faq__answer Мы присылаем исключительно уведомления о новых поставках. Вы получите от 2 до 4 сообщений в 		| месяц. Подписка на рассылку даст вам возможность не пропустить самые интересные новые модели, которые 
									| обычно разбирают уже в первые часы после поставки.
							
							li.faq__item
								div.faq__question Как подписаться на email или смс рассылку?
								div.faq__answer Test
							
							li.faq__item
								div.faq__question Как удалить свой адрес или телефон из рассылки?
								div.faq__answer Test

					div.faq
						h3.faq__title ДОСТАВКА
						ul.faq__list
							li.faq__item
								div.faq__question Сколько времени у вас занимает подготовка заказа к отгрузке?
								div.faq__answer Test
							
							li.faq__item
								div.faq__question За чей счет производится отгрузка товара?
								div.faq__answer Test
							
							li.faq__item 
								div.faq__question Какими почтовыми службами, в какие сроки вы доставляете заказы по Украине, и сколько это стоит?
								div.faq__answer Test.
							
							li.faq__item
								div.faq__question Какими почтовыми службами, в какие сроки вы доставляете заказы в Россию и СНГ, и сколько это стоит?
								div.faq__answer Test

					div.faq
						h3.faq__title ОПЛАТА
						ul.faq__list
							li.faq__item
								div.faq__question Сколько времени у вас занимает подготовка заказа к отгрузке?
								div.faq__answer Test
							
							li.faq__item
								div.faq__question За чей счет производится отгрузка товара?
								div.faq__answer Test
							
							li.faq__item 
								div.faq__question Какими почтовыми службами, в какие сроки вы доставляете заказы по Украине, и сколько это стоит?
								div.faq__answer Test.
							
							li.faq__item
								div.faq__question Какими почтовыми службами, в какие сроки вы доставляете заказы в Россию и СНГ, и сколько это стоит?
								div.faq__answer Test

				div.container__column
					div.faq
						h3.faq__title ТОВАР
						ul.faq__list
							li.faq__item
								div.faq__question Как начать с вами сотрудничество по оптовой закупке?
								div.faq__answer Test
							
							li.faq__item
								div.faq__question Какая минимальная оптовая партия?
								div.faq__answer Test
							
							li.faq__item 
								div.faq__question Можно ли сделать подсортировку меньше минимальной партии?
								div.faq__answer Мы присылаем исключительно уведомления о новых поставках. Вы получите от 2 до 4 сообщений в месяц. Подписка на рассылку даст вам возможность не пропустить самые интересные новые модели, которые обычно разбирают уже в первые часы после поставки.
							
							li.faq__item
								div.faq__question Можно ли купить в розницу по оптовой цене?
								div.faq__answer Test
							
							li.faq__item
								div.faq__question Какие условия сотрудничества для совместных покупок?
								div.faq__answer Test

							li.faq__item
								div.faq__question Какие условия сотрудничества для интернет-магазинов?
								div.faq__answer Test

							li.faq__item
								div.faq__question Какие часы работы вашего оптового склада?
								div.faq__answer Test

							li.faq__item
								div.faq__question Есть ли у вас шоурум и можно ли отобрать товар оптом лично?
								div.faq__answer Test

							li.faq__item
								div.faq__question Какие у вас есть оптовые скидки?
								div.faq__answer Test

							li.faq__item
								div.faq__question Какие у вас есть розничные скидки?
								div.faq__answer Test

					div.faq
						h3.faq__title ТОВАР
						ul.faq__list
							li.faq__item
								div.faq__question В течение какого периода с момента заказа необходимо оплатить товар?
								div.faq__answer Test
							
							li.faq__item
								div.faq__question Даете ли вы товар на реализацию?
								div.faq__answer Test
							
							li.faq__item 
								div.faq__question Возможно ли предоставление отсрочки платежа?
								div.faq__answer Test.

							li.faq__item 
								div.faq__question Какие есть способы оплаты товара из Украины?
								div.faq__answer Test.

							li.faq__item 
								div.faq__question Какие есть способы оплаты товара из России и стран СНГ?
								div.faq__answer Test.

							li.faq__item 
								div.faq__question Какие гарантии, что вы отгрузите мне товар после получения оплаты?
								div.faq__answer Test.

			aside.other-question
				h2.title.title_gap_xl Остались вопросы?
				ul.contacts
					li.contacts__item
						span.contacts__name Городской
						span.contacts__value (044) 593-84-49
					li.contacts__item
						span.contacts__name МТС
						span.contacts__value (050) 351-21-23
					li.contacts__item
						span.contacts__name life:)
						span.contacts__value (063) 262-84-08
					li.contacts__item
						span.contacts__name Киевстар
						span.contacts__value (067) 402-81-48
					li.contacts__item
						span.contacts__name Email
						span.contacts__value info@take.moda
				a.other-question__btn(href="#") Задать вопроc

dist/html/help.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="take-it">
    <meta name="keywords" content="take-it">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css">
    <title>Take-it</title>
  </head>
  <body>
    <header class="header">
      <div class="header__wrap">
        <nav class="menu">
          <div class="menu-opener"></div>
          <ul class="menu-list">
            <li class="menu-list__item"><a class="menu-list__link" href="catalog.html">Каталог</a></li>
            <li class="menu-list__item"><a class="menu-list__link" href="help.html">Помощь</a></li>
            <li class="menu-list__item"><a class="menu-list__link" href="contacts.html">Контакты</a></li>
          </ul>
        </nav><a class="logo" href="/"><img src="../images/logo.svg"></a>
        <div class="currency-toggle">
          <select class="currency">
            <option value="UAH" selected="">Украинская гривна</option>
            <option value="USD">Доллар США</option>
            <option value="RUB">Российский рубль</option>
            <option value="EUR">Евро</option>
          </select>
        </div>
        <div class="user-info"><a class="btn btn_type_btn btn_size_s btn-login" href="sign-in.html">Вход</a><a class="btn btn_type_btn btn_size_s btn-register" href="registration.html">Регистрация</a>
        </div>
      </div>
      <div class="menu-panel">
        <div class="menu-panel__close-icon"></div>
        <div class="header-menu">
          <div class="header-menu__name">Каталог</div>
          <ul class="header-menu__list">
            <li class="header-menu__item header-menu__item-submenu"><a class="header-menu__link" href="#">Верхняя одежда</a><i class="header-menu__icon header-menu__icon_up"></i>
              <ul class="header-menu__submenu">
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link header-menu__submenu-link_selected" href="#">Все</a></li>
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link" href="#">Вязаный жакет</a></li>
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link" href="#">Кофта</a></li>
              </ul>
            </li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Вязаная одежда</a><i class="header-menu__icon header-menu__icon_down"></i></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Брюки и юбки</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Аксессуары</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Верхняя одежда</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Футболки и топы</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Сорочки и блузы</a></li>
          </ul>
        </div>
        <ul class="links-list">
          <li class="links-list__item"><a class="links-list__link" href="help.html"> Помощь</a></li>
          <li class="links-list__item"><a class="links-list__link" href="contacts.html"> Контакты</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> О нас</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Сотрудничество</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Пронто мода</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Скидки</a></li>
          <li class="links-list__item"><a class="links-list__link" href="blog.html"> Блог</a></li>
          <li class="links-list__item"><a class="links-list__link" href="news.html"> Новости</a></li>
        </ul>
        <div class="menu-panel__bottom"><a class="btn btn_type_btn btn_size_s btn-login" href="#">Вход</a><a class="btn btn_type_btn btn_size_s btn-register" href="registration.html">Регистрация</a>
        </div>
      </div>
    </header>
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Главная </a></li>
      <li class="breadcrumbs__item">Помощь</li>
    </ul>
    <section class="container">
      <div class="container__wrap">
        <h2 class="title title_help">Помощь</h2>
        <div class="container__column">
          <div class="faq">
            <h3 class="faq__title">РЕГИСТРАЦИЯ И РАССЫЛКА</h3>
            <ul class="faq__list">
              <li class="faq__item">
                <div class="faq__question">Зачем нужна регистрация на сайте?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item">
                <div class="faq__question">Когда мне откроют доступ к ценам?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item"> 
                <div class="faq__question">Зачем мне получать вашу рассылку?</div>
                <div class="faq__answer">
                  Мы присылаем исключительно уведомления о новых поставках. Вы получите от 2 до 4 сообщений в 		| месяц. Подписка на рассылку даст вам возможность не пропустить самые интересные новые модели, которые обычно разбирают уже в первые часы после поставки.</div>
              </li>
              <li class="faq__item">
                <div class="faq__question">Как подписаться на email или смс рассылку?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item">
                <div class="faq__question">Как удалить свой адрес или телефон из рассылки?</div>
                <div class="faq__answer">Test</div>
              </li>
            </ul>
          </div>
          <div class="faq">
            <h3 class="faq__title">ДОСТАВКА</h3>
            <ul class="faq__list">
              <li class="faq__item">
                <div class="faq__question">Сколько времени у вас занимает подготовка заказа к отгрузке?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item">
                <div class="faq__question">За чей счет производится отгрузка товара?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item"> 
                <div class="faq__question">Какими почтовыми службами, в какие сроки вы доставляете заказы по Украине, и сколько это стоит?</div>
                <div class="faq__answer">Test.</div>
              </li>
              <li class="faq__item">
                <div class="faq__question">Какими почтовыми службами, в какие сроки вы доставляете заказы в Россию и СНГ, и сколько это стоит?</div>
                <div class="faq__answer">Test</div>
              </li>
            </ul>
          </div>
          <div class="faq">
            <h3 class="faq__title">ОПЛАТА</h3>
            <ul class="faq__list">
              <li class="faq__item">
                <div class="faq__question">Сколько времени у вас занимает подготовка заказа к отгрузке?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item">
                <div class="faq__question">За чей счет производится отгрузка товара?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item"> 
                <div class="faq__question">Какими почтовыми службами, в какие сроки вы доставляете заказы по Украине, и сколько это стоит?</div>
                <div class="faq__answer">Test.</div>
              </li>
              <li class="faq__item">
                <div class="faq__question">Какими почтовыми службами, в какие сроки вы доставляете заказы в Россию и СНГ, и сколько это стоит?</div>
                <div class="faq__answer">Test</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="container__column">
          <div class="faq">
            <h3 class="faq__title">ТОВАР</h3>
            <ul class="faq__list">
              <li class="faq__item">
                <div class="faq__question">Как начать с вами сотрудничество по оптовой закупке?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item">
                <div class="faq__question">Какая минимальная оптовая партия?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item"> 
                <div class="faq__question">Можно ли сделать подсортировку меньше минимальной партии?</div>
                <div class="faq__answer">Мы присылаем исключительно уведомления о новых поставках. Вы получите от 2 до 4 сообщений в месяц. Подписка на рассылку даст вам возможность не пропустить самые интересные новые модели, которые обычно разбирают уже в первые часы после поставки.</div>
              </li>
              <li class="faq__item">
                <div class="faq__question">Можно ли купить в розницу по оптовой цене?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item">
                <div class="faq__question">Какие условия сотрудничества для совместных покупок?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item">
                <div class="faq__question">Какие условия сотрудничества для интернет-магазинов?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item">
                <div class="faq__question">Какие часы работы вашего оптового склада?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item">
                <div class="faq__question">Есть ли у вас шоурум и можно ли отобрать товар оптом лично?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item">
                <div class="faq__question">Какие у вас есть оптовые скидки?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item">
                <div class="faq__question">Какие у вас есть розничные скидки?</div>
                <div class="faq__answer">Test</div>
              </li>
            </ul>
          </div>
          <div class="faq">
            <h3 class="faq__title">ТОВАР</h3>
            <ul class="faq__list">
              <li class="faq__item">
                <div class="faq__question">В течение какого периода с момента заказа необходимо оплатить товар?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item">
                <div class="faq__question">Даете ли вы товар на реализацию?</div>
                <div class="faq__answer">Test</div>
              </li>
              <li class="faq__item"> 
                <div class="faq__question">Возможно ли предоставление отсрочки платежа?</div>
                <div class="faq__answer">Test.</div>
              </li>
              <li class="faq__item"> 
                <div class="faq__question">Какие есть способы оплаты товара из Украины?</div>
                <div class="faq__answer">Test.</div>
              </li>
              <li class="faq__item"> 
                <div class="faq__question">Какие есть способы оплаты товара из России и стран СНГ?</div>
                <div class="faq__answer">Test.</div>
              </li>
              <li class="faq__item"> 
                <div class="faq__question">Какие гарантии, что вы отгрузите мне товар после получения оплаты?</div>
                <div class="faq__answer">Test.</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <aside class="other-question">
        <h2 class="title title_gap_xl">Остались вопросы?</h2>
        <ul class="contacts">
          <li class="contacts__item"><span class="contacts__name">Городской</span><span class="contacts__value">(044) 593-84-49</span></li>
          <li class="contacts__item"><span class="contacts__name">МТС</span><span class="contacts__value">(050) 351-21-23</span></li>
          <li class="contacts__item"><span class="contacts__name">life:)</span><span class="contacts__value">(063) 262-84-08</span></li>
          <li class="contacts__item"><span class="contacts__name">Киевстар</span><span class="contacts__value">(067) 402-81-48</span></li>
          <li class="contacts__item"><span class="contacts__name">Email</span><span class="contacts__value">info@take.moda</span></li>
        </ul><a class="other-question__btn" href="#">Задать вопроc</a>
      </aside>
    </section>
    <footer class="footer">
      <div class="subscribe">
        <h4 class="subscribe-title">УЗНАВАЙТЕ О ПОСТАВКАХ</h4>
        <form class="subscribe-form" action="">
          <input class="subscribe__input subscribe__email" type="text" placeholder="Email" required="yes" name="email">
          <input class="subscribe__input" type="text" placeholder="Мобильный (необязательно)" name="tel">
          <div class="radio-group">
            <div class="radio"><span class="radio__box">
                <input class="radio__input" type="radio" id="radio-1" name="subscribe"><span class="radio__circle"></span></span>
              <label class="radio__label" for="radio-1">Опт</label>
            </div>
            <div class="radio"><span class="radio__box">
                <input class="radio__input" type="radio" id="radio-2" name="subscribe"><span class="radio__circle"></span></span>
              <label class="radio__label" for="radio-2">Розница</label>
            </div>
          </div>
          <button class="subscribe-button" type="submit" disabled>Подписаться</button>
        </form>
      </div>
      <div class="footer-items">
        <div class="footer-item">
          <div class="tabs-menu">
            <ul class="tabs-menu__wrap">
              <li class="tabs-menu__item tabs-menu__item_selected" id="footer-tab-1"><span class="tabs-menu__link">Склад</span></li>
              <li class="tabs-menu__item" id="footer-tab-2"><span class="tabs-menu__link">Магазин</span></li>
            </ul>
          </div>
          <div class="tabs-panes">
            <div class="tabs-panes__pane tabs-panes__pane_active" aria-labelledby="footer-tab-1">
              <div class="address">
                <div class="address__line"><i class="address__metro-icon"></i>Позняки 1</div>
                <div class="address__line">ул. Ларисы Руденко 6а, офис 819</div>
                <div class="address__line">Киев, Украина</div>
              </div>
            </div>
            <div class="tabs-panes__pane" aria-labelledby="footer-tab-2">
              <div class="address">
                <div class="address__line"><i class="address__metro-icon"></i>Позняки 2</div>
                <div class="address__line">ул. Ларисы Руденко 6а, офис 819</div>
                <div class="address__line">Киев, Украина</div>
              </div>
            </div>
          </div>
          <div class="working-hours">
            Работаем по будням с 9 до 18.
            Предупредите о визите заранее.
          </div>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">Контакты склада</h4>
          <ul class="contacts">
            <li class="contacts__item"><span class="contacts__name">Городской</span><span class="contacts__value">(044) 593-84-49</span></li>
            <li class="contacts__item"><span class="contacts__name">МТС</span><span class="contacts__value">(050) 351-21-23</span></li>
            <li class="contacts__item"><span class="contacts__name">life:)</span><span class="contacts__value">(063) 262-84-08</span></li>
            <li class="contacts__item contacts__item_gap_l"><span class="contacts__name">Киевстар</span><span class="contacts__value">(067) 402-81-48</span></li>
            <li class="contacts__item"><span class="contacts__name">Email</span><span class="contacts__value">info@take.moda</span></li>
          </ul>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">О ТЭЙКЕ</h4>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Каталог</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Помощь</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Контакты </a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Карта сайта </a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">О нас</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Сотрудничество</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Пронто мода</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Скидки</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">БУДЬТЕ В КУРСЕ</h4>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Фейсбук</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">ВКонтакте</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Инстаграм </a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Новости</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Блог</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="paranja"></div>
    <script src="../components/jquery/dist/jquery.js"></script>
    <script src="../components/jquery-selectric/public/jquery.selectric.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
