app/views/home.pug

extends layout.pug

block content
	div.promo
		img.promo__img(src="../images/promo.jpg" alt="")
		a.promo__btn.btn.btn_type_btn.btn_theme_green.btn_spacing_l  Новая поставка

	div.promo2
		div.promo2__item В наличии 942 моделей одежды Пронто мода
		div.promo2__item.promo2__item_main Итальянская женская одежда оптом и в розницу
		div.promo2__item Товар находится в Киеве, на сайте – реальные остатки

	div.supply
		div.supply__title Поставка 23 мая
		div.supply__list
			a.supply__item(href="#")
				img(src="../images/supply-1.jpg")
			a.supply__item(href="#")
				img(src="../images/supply-2.jpg")
			a.supply__item(href="#")
				img(src="../images/supply-3.jpg")
			a.supply__item(href="#")
				img(src="../images/supply-4.jpg")
			
		div.supply__text Специализируемся на итальянской Пронто моде. Иногда привозим Китай, 
			<br />
			| сделанный специально для Италии. Никаких стоков, только актуальные модели текущего сезона преимущественно
			<br />
			| из натуральных тканей. В 
			| нашем каталоге реальные остатки по каждой модели в разрезе цветов и размеров.
		div.supply__btn
			a.btn.btn_type_btn.btn_theme_green.btn_size_m.btn_spacing_m(href="catalog.html") Перейти в каталог

	div.subscribe.subscribe_theme_gray
		h4.subscribe-title Каждый четверг новая поставка из Италии
		div.subscribe-subtitle Пару раз в месяц будем присылать письмо или смс о новой поставке. 
		form.subscribe-form(action="")
			input.subscribe__input.subscribe__email(type="text" placeholder="Email" required="yes" name="email")
			input.subscribe__input(type="text" placeholder="Мобильный (необязательно)" name='tel')

			div.radio-group
				div.radio.radio_theme_green
					span.radio__box
						input.radio__input(type="radio" id="retail-radio" name="subscribe-radio")
						span.radio__circle
					label.radio__label(for="retail-radio") Опт

				div.radio.radio_theme_green
					span.radio__box
						input.radio__input(type="radio" id="wholesale-radio" name="subscribe-radio" )
						span.radio__circle
					label.radio__label(for="wholesale-radio") Розница

			button.subscribe-button(type="submit" disabled) Подписаться

	div.info
		div.info__list
			div.info__item 
				h4.info__title Заказ
				div.info__text Товар можно заказать как онлайн, так и отобрать прямо в нашем магазине.
			div.info__item
				h4.info__title Доставка
				div.info__text Доставка по Украине за 1-2 дня,
					br 
					| в Россию за 10-15 дней,
					br
					| в Казахстан за 15-20 дней
			div.info__item
				h4.info__title Оплата
				div.info__text 100% предоплата, на реализацию и отсрочку не работаем
			div.info__item
				h4.info__title Гарантии
				div.info__text Обменяем брак без проблем!
		div.info__btn
			a.btn.btn_type_btn.btn_theme_white(href="help.html") ВОПРОСЫ И ОТВЕТЫ


	div.resently-showcase
		h4.resently-showcase__title Недавно просмотренные
		div.resently-showcase__wrap
			div.resently-showcase__list
				a.resently-showcase__item(href="#")
					img(src="../images/recently-1.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-2.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-3.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-4.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-1.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-2.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-3.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-4.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-1.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-2.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-3.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-4.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-1.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-2.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-3.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-4.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-1.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-2.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-3.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-4.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-1.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-2.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-3.jpg")
				a.resently-showcase__item(href="#")
					img(src="../images/recently-4.jpg")

dist/html/home.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="take-it">
    <meta name="keywords" content="take-it">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css">
    <title>Take-it</title>
  </head>
  <body>
    <header class="header">
      <div class="header__wrap">
        <nav class="menu">
          <div class="menu-opener"></div>
          <ul class="menu-list">
            <li class="menu-list__item"><a class="menu-list__link" href="catalog.html">Каталог</a></li>
            <li class="menu-list__item"><a class="menu-list__link" href="help.html">Помощь</a></li>
            <li class="menu-list__item"><a class="menu-list__link" href="contacts.html">Контакты</a></li>
          </ul>
        </nav><a class="logo" href="/"><img src="../images/logo.svg"></a>
        <div class="currency-toggle">
          <select class="currency">
            <option value="UAH" selected="">Украинская гривна</option>
            <option value="USD">Доллар США</option>
            <option value="RUB">Российский рубль</option>
            <option value="EUR">Евро</option>
          </select>
        </div>
        <div class="user-info"><a class="btn btn_type_btn btn_size_s btn-login" href="sign-in.html">Вход</a><a class="btn btn_type_btn btn_size_s btn-register" href="registration.html">Регистрация</a>
        </div>
      </div>
      <div class="menu-panel">
        <div class="menu-panel__close-icon"></div>
        <div class="header-menu">
          <div class="header-menu__name">Каталог</div>
          <ul class="header-menu__list">
            <li class="header-menu__item header-menu__item-submenu"><a class="header-menu__link" href="#">Верхняя одежда</a><i class="header-menu__icon header-menu__icon_up"></i>
              <ul class="header-menu__submenu">
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link header-menu__submenu-link_selected" href="#">Все</a></li>
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link" href="#">Вязаный жакет</a></li>
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link" href="#">Кофта</a></li>
              </ul>
            </li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Вязаная одежда</a><i class="header-menu__icon header-menu__icon_down"></i></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Брюки и юбки</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Аксессуары</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Верхняя одежда</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Футболки и топы</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Сорочки и блузы</a></li>
          </ul>
        </div>
        <ul class="links-list">
          <li class="links-list__item"><a class="links-list__link" href="help.html"> Помощь</a></li>
          <li class="links-list__item"><a class="links-list__link" href="contacts.html"> Контакты</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> О нас</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Сотрудничество</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Пронто мода</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Скидки</a></li>
          <li class="links-list__item"><a class="links-list__link" href="blog.html"> Блог</a></li>
          <li class="links-list__item"><a class="links-list__link" href="news.html"> Новости</a></li>
        </ul>
        <div class="menu-panel__bottom"><a class="btn btn_type_btn btn_size_s btn-login" href="#">Вход</a><a class="btn btn_type_btn btn_size_s btn-register" href="registration.html">Регистрация</a>
        </div>
      </div>
    </header>
    <div class="promo"><img class="promo__img" src="../images/promo.jpg" alt=""><a class="promo__btn btn btn_type_btn btn_theme_green btn_spacing_l"> Новая поставка</a></div>
    <div class="promo2">
      <div class="promo2__item">В наличии 942 моделей одежды Пронто мода</div>
      <div class="promo2__item promo2__item_main">Итальянская женская одежда оптом и в розницу</div>
      <div class="promo2__item">Товар находится в Киеве, на сайте – реальные остатки</div>
    </div>
    <div class="supply">
      <div class="supply__title">Поставка 23 мая</div>
      <div class="supply__list"><a class="supply__item" href="#"><img src="../images/supply-1.jpg"></a><a class="supply__item" href="#"><img src="../images/supply-2.jpg"></a><a class="supply__item" href="#"><img src="../images/supply-3.jpg"></a><a class="supply__item" href="#"><img src="../images/supply-4.jpg"></a></div>
      <div class="supply__text">
        Специализируемся на итальянской Пронто моде. Иногда привозим Китай, <br />сделанный специально для Италии. Никаких стоков, только актуальные модели текущего сезона преимущественно<br />
        из натуральных тканей. В 
        нашем каталоге реальные остатки по каждой модели в разрезе цветов и размеров.
      </div>
      <div class="supply__btn"><a class="btn btn_type_btn btn_theme_green btn_size_m btn_spacing_m" href="catalog.html">Перейти в каталог</a></div>
    </div>
    <div class="subscribe subscribe_theme_gray">
      <h4 class="subscribe-title">Каждый четверг новая поставка из Италии</h4>
      <div class="subscribe-subtitle">Пару раз в месяц будем присылать письмо или смс о новой поставке. </div>
      <form class="subscribe-form" action="">
        <input class="subscribe__input subscribe__email" type="text" placeholder="Email" required="yes" name="email">
        <input class="subscribe__input" type="text" placeholder="Мобильный (необязательно)" name="tel">
        <div class="radio-group">
          <div class="radio radio_theme_green"><span class="radio__box">
              <input class="radio__input" type="radio" id="retail-radio" name="subscribe-radio"><span class="radio__circle"></span></span>
            <label class="radio__label" for="retail-radio">Опт</label>
          </div>
          <div class="radio radio_theme_green"><span class="radio__box">
              <input class="radio__input" type="radio" id="wholesale-radio" name="subscribe-radio"><span class="radio__circle"></span></span>
            <label class="radio__label" for="wholesale-radio">Розница</label>
          </div>
        </div>
        <button class="subscribe-button" type="submit" disabled>Подписаться</button>
      </form>
    </div>
    <div class="info">
      <div class="info__list">
        <div class="info__item"> 
          <h4 class="info__title">Заказ</h4>
          <div class="info__text">Товар можно заказать как онлайн, так и отобрать прямо в нашем магазине.</div>
        </div>
        <div class="info__item">
          <h4 class="info__title">Доставка</h4>
          <div class="info__text">Доставка по Украине за 1-2 дня,<br>в Россию за 10-15 дней,<br>в Казахстан за 15-20 дней</div>
        </div>
        <div class="info__item">
          <h4 class="info__title">Оплата</h4>
          <div class="info__text">100% предоплата, на реализацию и отсрочку не работаем</div>
        </div>
        <div class="info__item">
          <h4 class="info__title">Гарантии</h4>
          <div class="info__text">Обменяем брак без проблем!</div>
        </div>
      </div>
      <div class="info__btn"><a class="btn btn_type_btn btn_theme_white" href="help.html">ВОПРОСЫ И ОТВЕТЫ</a></div>
    </div>
    <div class="resently-showcase">
      <h4 class="resently-showcase__title">Недавно просмотренные</h4>
      <div class="resently-showcase__wrap">
        <div class="resently-showcase__list"><a class="resently-showcase__item" href="#"><img src="../images/recently-1.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-2.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-3.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-4.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-1.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-2.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-3.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-4.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-1.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-2.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-3.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-4.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-1.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-2.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-3.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-4.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-1.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-2.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-3.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-4.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-1.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-2.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-3.jpg"></a><a class="resently-showcase__item" href="#"><img src="../images/recently-4.jpg"></a></div>
      </div>
    </div>
    <footer class="footer">
      <div class="subscribe">
        <h4 class="subscribe-title">УЗНАВАЙТЕ О ПОСТАВКАХ</h4>
        <form class="subscribe-form" action="">
          <input class="subscribe__input subscribe__email" type="text" placeholder="Email" required="yes" name="email">
          <input class="subscribe__input" type="text" placeholder="Мобильный (необязательно)" name="tel">
          <div class="radio-group">
            <div class="radio"><span class="radio__box">
                <input class="radio__input" type="radio" id="radio-1" name="subscribe"><span class="radio__circle"></span></span>
              <label class="radio__label" for="radio-1">Опт</label>
            </div>
            <div class="radio"><span class="radio__box">
                <input class="radio__input" type="radio" id="radio-2" name="subscribe"><span class="radio__circle"></span></span>
              <label class="radio__label" for="radio-2">Розница</label>
            </div>
          </div>
          <button class="subscribe-button" type="submit" disabled>Подписаться</button>
        </form>
      </div>
      <div class="footer-items">
        <div class="footer-item">
          <div class="tabs-menu">
            <ul class="tabs-menu__wrap">
              <li class="tabs-menu__item tabs-menu__item_selected" id="footer-tab-1"><span class="tabs-menu__link">Склад</span></li>
              <li class="tabs-menu__item" id="footer-tab-2"><span class="tabs-menu__link">Магазин</span></li>
            </ul>
          </div>
          <div class="tabs-panes">
            <div class="tabs-panes__pane tabs-panes__pane_active" aria-labelledby="footer-tab-1">
              <div class="address">
                <div class="address__line"><i class="address__metro-icon"></i>Позняки 1</div>
                <div class="address__line">ул. Ларисы Руденко 6а, офис 819</div>
                <div class="address__line">Киев, Украина</div>
              </div>
            </div>
            <div class="tabs-panes__pane" aria-labelledby="footer-tab-2">
              <div class="address">
                <div class="address__line"><i class="address__metro-icon"></i>Позняки 2</div>
                <div class="address__line">ул. Ларисы Руденко 6а, офис 819</div>
                <div class="address__line">Киев, Украина</div>
              </div>
            </div>
          </div>
          <div class="working-hours">
            Работаем по будням с 9 до 18.
            Предупредите о визите заранее.
          </div>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">Контакты склада</h4>
          <ul class="contacts">
            <li class="contacts__item"><span class="contacts__name">Городской</span><span class="contacts__value">(044) 593-84-49</span></li>
            <li class="contacts__item"><span class="contacts__name">МТС</span><span class="contacts__value">(050) 351-21-23</span></li>
            <li class="contacts__item"><span class="contacts__name">life:)</span><span class="contacts__value">(063) 262-84-08</span></li>
            <li class="contacts__item contacts__item_gap_l"><span class="contacts__name">Киевстар</span><span class="contacts__value">(067) 402-81-48</span></li>
            <li class="contacts__item"><span class="contacts__name">Email</span><span class="contacts__value">info@take.moda</span></li>
          </ul>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">О ТЭЙКЕ</h4>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Каталог</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Помощь</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Контакты </a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Карта сайта </a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">О нас</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Сотрудничество</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Пронто мода</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Скидки</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">БУДЬТЕ В КУРСЕ</h4>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Фейсбук</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">ВКонтакте</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Инстаграм </a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Новости</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Блог</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="paranja"></div>
    <script src="../components/jquery/dist/jquery.js"></script>
    <script src="../components/jquery-selectric/public/jquery.selectric.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
