dist/html/new-password.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="take-it">
    <meta name="keywords" content="take-it">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css">
    <title>Take-it</title>
  </head>
  <body>
    <header class="header-plain">
      <div class="header-plain__row">
        <div class="header-plain__left"><a class="btn btn_type_link btn-back" href="#">Назад ко входу</a></div><a class="logo" href="#"><img alt="" src="../images/logo_black.svg"></a>
      </div>
      <div class="header-plain__row header-plain__row_gap_s">
        <div class="header-plain__title"> Введите новый пароль
        </div>
      </div> 
    </header>
    <div class="sign-in">
      <div class="sign-in__wrap">
        <form class="form form_empty">
          <div class="form__row form__row_empty">
            <input class="form__input" type="password" placeholder="Новый пароль" required id="password" name="password">
            <label class="form__label" for="password">Новый пароль</label><span class="icon-eye"></span>
          </div>
          <button class="form__submit" type="submit">Сохранить пароль</button>
        </form>
      </div>
    </div>
    <script src="../../components/jquery/dist/jquery.js"></script>
    <script src="../components/jquery-selectric/public/jquery.selectric.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>

app/views/new-password.pug
extends layout-signin.pug

block header-title
	| Введите новый пароль

block header-left
	div.header-plain__left
		a.btn.btn_type_link.btn-back(href="#") Назад ко входу

block header-right

block content
	div.sign-in
		div.sign-in__wrap
			form.form.form_empty
				div.form__row.form__row_empty
					input.form__input(type="password" placeholder="Новый пароль" required id="password" name="password") 
					label.form__label(for="password") Новый пароль
					span.icon-eye

				button.form__submit(type="submit") Сохранить пароль
	
