app/views/news-post.pug
extends layout.pug

block content
	ul.breadcrumbs
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Главная 
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") БЛОГ
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") МОДА И КРАСОТА
		li.breadcrumbs__item 5 МОДНЫХ ФИШЕК ЭТОГО ГОДА

	div.container
		div.post
			div.post__wrap
				h2.post__title.title_cetner.title_size_l.title_gap_s Take — надежный оптовый поставщик одежды из Италии
				div.post__info
					div.post__info-item Мода и красота  
					div.post__info-item 13 октября 2015

			div.post__banner
				img.post__banner-img(src="../images/news-banner.jpg" alt="")

			div.post__wrap

				p.post__text Сестры Олсен – наверное, самые частые героини американского стритстайла. И неудивительно: девушки выпускают 
					| одежду под собственным брендом и работают стилистами. Их стиль можно скорее назвать европейским: объемные силуэты, 
					| приглушенные цвета и длина до щиколоток создают комфортные и стильные образы в духе тех же практичных немок или 
					| шведок. Ким Кардашьян является классическим воплощением нового американского стиля с его вычурностью, нарочитой 
					| сексуальностью и даже некоторой пошлостью: не зря ее игнорируют некоторые дизайнеры и другие представители мира 
					| моды. Звезда обожает обтягивающие юбки-карандаши, кроп-топы и все полупрозрачное (с ее-то фигурой).
					| Оливию Палермо называют иконой стиля за ее умение составлять безупречные образы. Светская тусовщица хоть и следит 
					| за модой, но также любит лаконичную одежду, простые фасоны и приглушенные цвета.

				div.post__quote По статистике, около 80 процентов американок предпочитают одежду национальных маро по одной простой 
					| причине - она дешевле.

				div.post__subtitle 5 новых правил

				ol.post__list
					li.post__text Одна из горячих тенденций холодной зимы – это крупные и многослойные модные украшения, надетые поверх 
						| верхней одежды, которой может быть как жакет, так и пальто.
					li.post__text  Многоярусные бусы и ожерелья дополняют не только с элегантные платья и блузы, но и со свитера с 
						| высоким воротником-хомут.
					li.post__text Браслеты можно носить как по одному, так и по два, и даже по три. Допускается эклектика цветовой 
						| палитры и даже стиля при условии единой концепции дизайнерского исполнения. Например, это могут быть наборные 
						| браслеты, детали в которых абсолютно идентичны, но отличны по цвету и материалу –одна модель выполнена из 
						| металла, другая – из стекла.
					li.post__text Перчатки и сумка могут играть роль ярких «пятен»-акцентов, то есть быть такого цвета, родственных 
						| которому в образе нет.
					li.post__text Сумка и обувь одного цвета  – не пережитки прошлого, а самое что ни есть актуальное настоящее.


				div.post__quote 
					figure.post__figure
						div «Куда нужно наносить духи? — как-то спросила меня молодая женщина. Всюду, куда бы вам хотелось, чтобы 
							| вас поцеловал мужчина, — сказала я.»
						figcaption.post__img-caption Коко Шанель

				div.post__subtitle Главные требования

				p.post__text Главное требование – присутствие не менее 2 цветов в моделях «верха» и «низа»
					| в комплекте.

				ul.post__list
					li.post__text Одежду из легких тканей очень модно комбинировать с вязаными вещами, которые при этом могут быть как 
						| однотонными.
					li.post__text  Блочной расцветки, быть украшенными паттернами или крупными жаккардовыми рисунками.

dist/html/news-post.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="take-it">
    <meta name="keywords" content="take-it">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css">
    <title>Take-it</title>
  </head>
  <body>
    <header class="header">
      <div class="header__wrap">
        <nav class="menu">
          <div class="menu-opener"></div>
          <ul class="menu-list">
            <li class="menu-list__item"><a class="menu-list__link" href="catalog.html">Каталог</a></li>
            <li class="menu-list__item"><a class="menu-list__link" href="help.html">Помощь</a></li>
            <li class="menu-list__item"><a class="menu-list__link" href="contacts.html">Контакты</a></li>
          </ul>
        </nav><a class="logo" href="/"><img src="../images/logo.svg"></a>
        <div class="currency-toggle">
          <select class="currency">
            <option value="UAH" selected="">Украинская гривна</option>
            <option value="USD">Доллар США</option>
            <option value="RUB">Российский рубль</option>
            <option value="EUR">Евро</option>
          </select>
        </div>
        <div class="user-info"><a class="btn btn_type_btn btn_size_s btn-login" href="sign-in.html">Вход</a><a class="btn btn_type_btn btn_size_s btn-register" href="registration.html">Регистрация</a>
        </div>
      </div>
      <div class="menu-panel">
        <div class="menu-panel__close-icon"></div>
        <div class="header-menu">
          <div class="header-menu__name">Каталог</div>
          <ul class="header-menu__list">
            <li class="header-menu__item header-menu__item-submenu"><a class="header-menu__link" href="#">Верхняя одежда</a><i class="header-menu__icon header-menu__icon_up"></i>
              <ul class="header-menu__submenu">
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link header-menu__submenu-link_selected" href="#">Все</a></li>
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link" href="#">Вязаный жакет</a></li>
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link" href="#">Кофта</a></li>
              </ul>
            </li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Вязаная одежда</a><i class="header-menu__icon header-menu__icon_down"></i></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Брюки и юбки</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Аксессуары</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Верхняя одежда</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Футболки и топы</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Сорочки и блузы</a></li>
          </ul>
        </div>
        <ul class="links-list">
          <li class="links-list__item"><a class="links-list__link" href="help.html"> Помощь</a></li>
          <li class="links-list__item"><a class="links-list__link" href="contacts.html"> Контакты</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> О нас</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Сотрудничество</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Пронто мода</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Скидки</a></li>
          <li class="links-list__item"><a class="links-list__link" href="blog.html"> Блог</a></li>
          <li class="links-list__item"><a class="links-list__link" href="news.html"> Новости</a></li>
        </ul>
        <div class="menu-panel__bottom"><a class="btn btn_type_btn btn_size_s btn-login" href="#">Вход</a><a class="btn btn_type_btn btn_size_s btn-register" href="registration.html">Регистрация</a>
        </div>
      </div>
    </header>
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Главная </a></li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">БЛОГ</a></li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">МОДА И КРАСОТА</a></li>
      <li class="breadcrumbs__item">5 МОДНЫХ ФИШЕК ЭТОГО ГОДА</li>
    </ul>
    <div class="container">
      <div class="post">
        <div class="post__wrap">
          <h2 class="post__title title_cetner title_size_l title_gap_s">Take — надежный оптовый поставщик одежды из Италии</h2>
          <div class="post__info">
            <div class="post__info-item">Мода и красота  </div>
            <div class="post__info-item">13 октября 2015</div>
          </div>
        </div>
        <div class="post__banner"><img class="post__banner-img" src="../images/news-banner.jpg" alt=""></div>
        <div class="post__wrap">
          <p class="post__text">Сестры Олсен – наверное, самые частые героини американского стритстайла. И неудивительно: девушки выпускают 
            одежду под собственным брендом и работают стилистами. Их стиль можно скорее назвать европейским: объемные силуэты, 
            приглушенные цвета и длина до щиколоток создают комфортные и стильные образы в духе тех же практичных немок или 
            шведок. Ким Кардашьян является классическим воплощением нового американского стиля с его вычурностью, нарочитой 
            сексуальностью и даже некоторой пошлостью: не зря ее игнорируют некоторые дизайнеры и другие представители мира 
            моды. Звезда обожает обтягивающие юбки-карандаши, кроп-топы и все полупрозрачное (с ее-то фигурой).
            Оливию Палермо называют иконой стиля за ее умение составлять безупречные образы. Светская тусовщица хоть и следит 
            за модой, но также любит лаконичную одежду, простые фасоны и приглушенные цвета.
          </p>
          <div class="post__quote">
            По статистике, около 80 процентов американок предпочитают одежду национальных маро по одной простой причине - она дешевле.</div>
          <div class="post__subtitle">5 новых правил</div>
          <ol class="post__list">
            <li class="post__text">
              Одна из горячих тенденций холодной зимы – это крупные и многослойные модные украшения, надетые поверх верхней одежды, которой может быть как жакет, так и пальто.</li>
            <li class="post__text">
               Многоярусные бусы и ожерелья дополняют не только с элегантные платья и блузы, но и со свитера с высоким воротником-хомут.</li>
            <li class="post__text">Браслеты можно носить как по одному, так и по два, и даже по три. Допускается эклектика цветовой 
              палитры и даже стиля при условии единой концепции дизайнерского исполнения. Например, это могут быть наборные 
              браслеты, детали в которых абсолютно идентичны, но отличны по цвету и материалу –одна модель выполнена из 
              металла, другая – из стекла.
            </li>
            <li class="post__text">
              Перчатки и сумка могут играть роль ярких «пятен»-акцентов, то есть быть такого цвета, родственных которому в образе нет.</li>
            <li class="post__text">Сумка и обувь одного цвета  – не пережитки прошлого, а самое что ни есть актуальное настоящее.</li>
          </ol>
          <div class="post__quote"> 
            <figure class="post__figure">
              <div>
                «Куда нужно наносить духи? — как-то спросила меня молодая женщина. Всюду, куда бы вам хотелось, чтобы вас поцеловал мужчина, — сказала я.»</div>
              <figcaption class="post__img-caption">Коко Шанель</figcaption>
            </figure>
          </div>
          <div class="post__subtitle">Главные требования</div>
          <p class="post__text">
            Главное требование – присутствие не менее 2 цветов в моделях «верха» и «низа»в комплекте.</p>
          <ul class="post__list">
            <li class="post__text">
              Одежду из легких тканей очень модно комбинировать с вязаными вещами, которые при этом могут быть как однотонными.</li>
            <li class="post__text"> Блочной расцветки, быть украшенными паттернами или крупными жаккардовыми рисунками.</li>
          </ul>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="subscribe">
        <h4 class="subscribe-title">УЗНАВАЙТЕ О ПОСТАВКАХ</h4>
        <form class="subscribe-form" action="">
          <input class="subscribe__input subscribe__email" type="text" placeholder="Email" required="yes" name="email">
          <input class="subscribe__input" type="text" placeholder="Мобильный (необязательно)" name="tel">
          <div class="radio-group">
            <div class="radio"><span class="radio__box">
                <input class="radio__input" type="radio" id="radio-1" name="subscribe"><span class="radio__circle"></span></span>
              <label class="radio__label" for="radio-1">Опт</label>
            </div>
            <div class="radio"><span class="radio__box">
                <input class="radio__input" type="radio" id="radio-2" name="subscribe"><span class="radio__circle"></span></span>
              <label class="radio__label" for="radio-2">Розница</label>
            </div>
          </div>
          <button class="subscribe-button" type="submit" disabled>Подписаться</button>
        </form>
      </div>
      <div class="footer-items">
        <div class="footer-item">
          <div class="tabs-menu">
            <ul class="tabs-menu__wrap">
              <li class="tabs-menu__item tabs-menu__item_selected" id="footer-tab-1"><span class="tabs-menu__link">Склад</span></li>
              <li class="tabs-menu__item" id="footer-tab-2"><span class="tabs-menu__link">Магазин</span></li>
            </ul>
          </div>
          <div class="tabs-panes">
            <div class="tabs-panes__pane tabs-panes__pane_active" aria-labelledby="footer-tab-1">
              <div class="address">
                <div class="address__line"><i class="address__metro-icon"></i>Позняки 1</div>
                <div class="address__line">ул. Ларисы Руденко 6а, офис 819</div>
                <div class="address__line">Киев, Украина</div>
              </div>
            </div>
            <div class="tabs-panes__pane" aria-labelledby="footer-tab-2">
              <div class="address">
                <div class="address__line"><i class="address__metro-icon"></i>Позняки 2</div>
                <div class="address__line">ул. Ларисы Руденко 6а, офис 819</div>
                <div class="address__line">Киев, Украина</div>
              </div>
            </div>
          </div>
          <div class="working-hours">
            Работаем по будням с 9 до 18.
            Предупредите о визите заранее.
          </div>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">Контакты склада</h4>
          <ul class="contacts">
            <li class="contacts__item"><span class="contacts__name">Городской</span><span class="contacts__value">(044) 593-84-49</span></li>
            <li class="contacts__item"><span class="contacts__name">МТС</span><span class="contacts__value">(050) 351-21-23</span></li>
            <li class="contacts__item"><span class="contacts__name">life:)</span><span class="contacts__value">(063) 262-84-08</span></li>
            <li class="contacts__item contacts__item_gap_l"><span class="contacts__name">Киевстар</span><span class="contacts__value">(067) 402-81-48</span></li>
            <li class="contacts__item"><span class="contacts__name">Email</span><span class="contacts__value">info@take.moda</span></li>
          </ul>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">О ТЭЙКЕ</h4>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Каталог</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Помощь</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Контакты </a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Карта сайта </a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">О нас</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Сотрудничество</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Пронто мода</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Скидки</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">БУДЬТЕ В КУРСЕ</h4>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Фейсбук</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">ВКонтакте</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Инстаграм </a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Новости</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Блог</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="paranja"></div>
    <script src="../components/jquery/dist/jquery.js"></script>
    <script src="../components/jquery-selectric/public/jquery.selectric.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
