dist/html/product.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="take-it">
    <meta name="keywords" content="take-it">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css">
    <title>Take-it</title>
  </head>
  <body>
    <header class="header">
      <div class="header__wrap">
        <nav class="menu">
          <div class="menu-opener"></div>
          <ul class="menu-list">
            <li class="menu-list__item"><a class="menu-list__link" href="catalog.html">Каталог</a></li>
            <li class="menu-list__item"><a class="menu-list__link" href="help.html">Помощь</a></li>
            <li class="menu-list__item"><a class="menu-list__link" href="contacts.html">Контакты</a></li>
          </ul>
        </nav><a class="logo" href="/"><img src="../images/logo.svg"></a>
        <div class="currency-toggle">
          <select class="currency">
            <option value="UAH" selected="">Украинская гривна</option>
            <option value="USD">Доллар США</option>
            <option value="RUB">Российский рубль</option>
            <option value="EUR">Евро</option>
          </select>
        </div>
        <div class="user-info"><a class="btn btn_type_btn btn_size_s btn-login" href="sign-in.html">Вход</a><a class="btn btn_type_btn btn_size_s btn-register" href="registration.html">Регистрация</a>
        </div>
      </div>
      <div class="menu-panel">
        <div class="menu-panel__close-icon"></div>
        <div class="header-menu">
          <div class="header-menu__name">Каталог</div>
          <ul class="header-menu__list">
            <li class="header-menu__item header-menu__item-submenu"><a class="header-menu__link" href="#">Верхняя одежда</a><i class="header-menu__icon header-menu__icon_up"></i>
              <ul class="header-menu__submenu">
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link header-menu__submenu-link_selected" href="#">Все</a></li>
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link" href="#">Вязаный жакет</a></li>
                <li class="header-menu__submenu-item"><a class="header-menu__submenu-link" href="#">Кофта</a></li>
              </ul>
            </li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Вязаная одежда</a><i class="header-menu__icon header-menu__icon_down"></i></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Брюки и юбки</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Аксессуары</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Верхняя одежда</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Футболки и топы</a></li>
            <li class="header-menu__item"><a class="header-menu__link" href="#">Сорочки и блузы</a></li>
          </ul>
        </div>
        <ul class="links-list">
          <li class="links-list__item"><a class="links-list__link" href="help.html"> Помощь</a></li>
          <li class="links-list__item"><a class="links-list__link" href="contacts.html"> Контакты</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> О нас</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Сотрудничество</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Пронто мода</a></li>
          <li class="links-list__item"><a class="links-list__link" href="#"> Скидки</a></li>
          <li class="links-list__item"><a class="links-list__link" href="blog.html"> Блог</a></li>
          <li class="links-list__item"><a class="links-list__link" href="news.html"> Новости</a></li>
        </ul>
        <div class="menu-panel__bottom"><a class="btn btn_type_btn btn_size_s btn-login" href="#">Вход</a><a class="btn btn_type_btn btn_size_s btn-register" href="registration.html">Регистрация</a>
        </div>
      </div>
    </header>
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">Главная </a></li>
      <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="#">КАТАЛОГ</a></li>
      <li class="breadcrumbs__item"> <a class="breadcrumbs__link" href="#">ФУТБОЛКИ И ТОПЫ</a></li>
      <li class="breadcrumbs__item">КОРОТКАЯ ФУТБОЛКА ИЗ ТЕКСТУРНОЙ ТКАНИ С КРУЖЕВНОЙ КАЙМОЙ</li>
    </ul>
    <div class="container container_full container_relative">
      <div class="product-slider">
        <div class="product-slider__preview"><img class="product-slider__preview-img" src="../images/preview-1.jpg"><img class="product-slider__preview-img" src="../images/preview-2.jpg"><img class="product-slider__preview-img" src="../images/preview-3.jpg"><img class="product-slider__preview-img" src="../images/preview-4.jpg"><img class="product-slider__preview-img" src="../images/preview-5.jpg"></div>
        <div class="product-slider__image">
          <div class="product-slider__preview-big-wrap">
            <div class="product-slider__preview-color-label">Красный</div><img class="product-slider__preview-big-img" src="../images/preview-big.jpg">
          </div>
          <div class="product-slider__preview-big-wrap">
            <div class="product-slider__preview-color-label">Красный</div><img class="product-slider__preview-big-img" src="../images/preview-big-2.jpg">
          </div>
        </div>
      </div>
      <div class="product-details product-details_fixed">
        <div class="product-details__id">АРТИКУЛ 151165</div>
        <div class="product-details__name">Короткая футболка из текстурной ткани с кружевной каймой</div>
        <div class="product-details__price">€<span class="product-details__price-number">8,7</span></div>
        <form class="product-details__params" action="#">
          <table class="product-details__table">
            <tr>
              <th class="product-details__table-name">Цвет/ Размер</th>
              <th>S</th>
              <th>M</th>
              <th>L</th>
            </tr>
            <tr> 
              <td>Красный</td>
              <td> 
                <input class="product-details__input" type="number" placeholder="0">
              </td>
              <td>
                <input class="product-details__input" type="number" placeholder="0">
              </td>
              <td>
                <input class="product-details__input" type="number" placeholder="0">
              </td>
            </tr>
            <tr> 
              <td>Бутылочный</td>
              <td> 
                <input class="product-details__input" type="number" placeholder="0">
              </td>
              <td>
                <input class="product-details__input" type="number" placeholder="0">
              </td>
              <td>
                <input class="product-details__input" type="number" placeholder="0">
              </td>
            </tr>
            <tr> 
              <td>Голубой</td>
              <td> 
                <input class="product-details__input" type="number" placeholder="0">
              </td>
              <td>
                <input class="product-details__input" type="number" placeholder="0">
              </td>
              <td>
                <input class="product-details__input" type="number" placeholder="0">
              </td>
            </tr>
            <tr> 
              <td>Фанго</td>
              <td> 
                <input class="product-details__input" type="number" placeholder="0">
              </td>
              <td>
                <input class="product-details__input" type="number" placeholder="0">
              </td>
              <td>
                <input class="product-details__input" type="number" placeholder="0">
              </td>
            </tr>
          </table>
        </form>
        <div class="product-details__row">
          <button class="checkout-btn" type="submit"> <span class="checkout-btn-text">ДОБАВИТЬ В КОРЗИНУ</span><span class="checkout-btn-wrap"><span class="checkout-btn-vol">8</span><span class="checkout-btn-price">€69.6</span><span class="checkout-btn-small-text">В Корзину </span></span></button><span class="product-details__delivery-info"><i class="product-details__delivery-icon"></i>Бесплатная доставка от €300</span>
        </div>
        <div class="tabs-menu">
          <ul class="tabs-menu__wrap">
            <li class="tabs-menu__item tabs-menu__item_selected" id="product-details-1"><span class="tabs-menu__link">Описание</span></li>
            <li class="tabs-menu__item" id="product-details-2"><span class="tabs-menu__link">Доставка</span></li>
            <li class="tabs-menu__item" id="product-details-3"><span class="tabs-menu__link">Возвраты</span></li>
          </ul>
        </div>
        <div class="tabs-panes">
          <div class="tabs-panes__pane tabs-panes__pane_active" aria-labelledby="product-details-1">
            <p>Свободная туника с ассиметричным низом, круглым вырезом горловины и принтом «круги».</p>
            <ul>
              <li>95% хлопок, 5% эластан</li>
              <li>Сделано в Италии</li>
            </ul>
          </div>
          <div class="tabs-panes__pane" aria-labelledby="product-details-2">
            <p>что-то там</p>
          </div>
          <div class="tabs-panes__pane" aria-labelledby="product-details-3">
            <p>что-то про Возвраты</p>
          </div>
        </div><a class="product-details__sizes" href="#">ТАБЛИЦА РАЗМЕРОВ</a>
      </div>
    </div>
    <footer class="footer">
      <div class="subscribe">
        <h4 class="subscribe-title">УЗНАВАЙТЕ О ПОСТАВКАХ</h4>
        <form class="subscribe-form" action="">
          <input class="subscribe__input subscribe__email" type="text" placeholder="Email" required="yes" name="email">
          <input class="subscribe__input" type="text" placeholder="Мобильный (необязательно)" name="tel">
          <div class="radio-group">
            <div class="radio"><span class="radio__box">
                <input class="radio__input" type="radio" id="radio-1" name="subscribe"><span class="radio__circle"></span></span>
              <label class="radio__label" for="radio-1">Опт</label>
            </div>
            <div class="radio"><span class="radio__box">
                <input class="radio__input" type="radio" id="radio-2" name="subscribe"><span class="radio__circle"></span></span>
              <label class="radio__label" for="radio-2">Розница</label>
            </div>
          </div>
          <button class="subscribe-button" type="submit" disabled>Подписаться</button>
        </form>
      </div>
      <div class="footer-items">
        <div class="footer-item">
          <div class="tabs-menu">
            <ul class="tabs-menu__wrap">
              <li class="tabs-menu__item tabs-menu__item_selected" id="footer-tab-1"><span class="tabs-menu__link">Склад</span></li>
              <li class="tabs-menu__item" id="footer-tab-2"><span class="tabs-menu__link">Магазин</span></li>
            </ul>
          </div>
          <div class="tabs-panes">
            <div class="tabs-panes__pane tabs-panes__pane_active" aria-labelledby="footer-tab-1">
              <div class="address">
                <div class="address__line"><i class="address__metro-icon"></i>Позняки 1</div>
                <div class="address__line">ул. Ларисы Руденко 6а, офис 819</div>
                <div class="address__line">Киев, Украина</div>
              </div>
            </div>
            <div class="tabs-panes__pane" aria-labelledby="footer-tab-2">
              <div class="address">
                <div class="address__line"><i class="address__metro-icon"></i>Позняки 2</div>
                <div class="address__line">ул. Ларисы Руденко 6а, офис 819</div>
                <div class="address__line">Киев, Украина</div>
              </div>
            </div>
          </div>
          <div class="working-hours">
            Работаем по будням с 9 до 18.
            Предупредите о визите заранее.
          </div>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">Контакты склада</h4>
          <ul class="contacts">
            <li class="contacts__item"><span class="contacts__name">Городской</span><span class="contacts__value">(044) 593-84-49</span></li>
            <li class="contacts__item"><span class="contacts__name">МТС</span><span class="contacts__value">(050) 351-21-23</span></li>
            <li class="contacts__item"><span class="contacts__name">life:)</span><span class="contacts__value">(063) 262-84-08</span></li>
            <li class="contacts__item contacts__item_gap_l"><span class="contacts__name">Киевстар</span><span class="contacts__value">(067) 402-81-48</span></li>
            <li class="contacts__item"><span class="contacts__name">Email</span><span class="contacts__value">info@take.moda</span></li>
          </ul>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">О ТЭЙКЕ</h4>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Каталог</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Помощь</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Контакты </a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Карта сайта </a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">О нас</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Сотрудничество</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Пронто мода</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Скидки</a></li>
          </ul>
        </div>
        <div class="footer-item">
          <h4 class="footer__title">БУДЬТЕ В КУРСЕ</h4>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Фейсбук</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">ВКонтакте</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Инстаграм </a></li>
          </ul>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Новости</a></li>
            <li class="footer-menu__item"><a class="footer-menu__link" href="#">Блог</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="paranja"></div>
    <script src="../components/jquery/dist/jquery.js"></script>
    <script src="../components/jquery-selectric/public/jquery.selectric.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>

app/views/product.pug
extends layout.pug

block content
	ul.breadcrumbs
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Главная 
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") КАТАЛОГ
		li.breadcrumbs__item 
			a.breadcrumbs__link(href="#") ФУТБОЛКИ И ТОПЫ
		li.breadcrumbs__item КОРОТКАЯ ФУТБОЛКА ИЗ ТЕКСТУРНОЙ ТКАНИ С КРУЖЕВНОЙ КАЙМОЙ

	div.container.container_full.container_relative
		div.product-slider
			div.product-slider__preview
				img.product-slider__preview-img(src="../images/preview-1.jpg")
				img.product-slider__preview-img(src="../images/preview-2.jpg")
				img.product-slider__preview-img(src="../images/preview-3.jpg")
				img.product-slider__preview-img(src="../images/preview-4.jpg")
				img.product-slider__preview-img(src="../images/preview-5.jpg")
			div.product-slider__image
				.product-slider__preview-big-wrap
					.product-slider__preview-color-label Красный
					img.product-slider__preview-big-img(src="../images/preview-big.jpg")
				.product-slider__preview-big-wrap
					.product-slider__preview-color-label Красный
					img.product-slider__preview-big-img(src="../images/preview-big-2.jpg")

		div.product-details.product-details_fixed
			div.product-details__id АРТИКУЛ 151165
			div.product-details__name Короткая футболка из текстурной ткани с кружевной каймой
			div.product-details__price €
				span.product-details__price-number 8,7

			form.product-details__params(action="#")
				table.product-details__table
					tr
						th.product-details__table-name Цвет/ Размер
						th S
						th M
						th L
					tr 
						td Красный
						td 
							input.product-details__input(type="number" placeholder="0")
						td
							input.product-details__input(type="number" placeholder="0")
						td
							input.product-details__input(type="number" placeholder="0")
					tr 
						td Бутылочный
						td 
							input.product-details__input(type="number" placeholder="0")
						td
							input.product-details__input(type="number" placeholder="0")
						td
							input.product-details__input(type="number" placeholder="0")
					tr 
						td Голубой
						td 
							input.product-details__input(type="number" placeholder="0")
						td
							input.product-details__input(type="number" placeholder="0")
						td
							input.product-details__input(type="number" placeholder="0")

					tr 
						td Фанго
						td 
							input.product-details__input(type="number" placeholder="0")
						td
							input.product-details__input(type="number" placeholder="0")
						td
							input.product-details__input(type="number" placeholder="0")
			div.product-details__row
				button.checkout-btn(type="submit") 
					span.checkout-btn-text ДОБАВИТЬ В КОРЗИНУ
					span.checkout-btn-wrap
						span.checkout-btn-vol 8
						span.checkout-btn-price €69.6
						span.checkout-btn-small-text В Корзину 


				span.product-details__delivery-info
					i.product-details__delivery-icon
					| Бесплатная доставка от €300

			div.tabs-menu
				ul.tabs-menu__wrap
					li.tabs-menu__item.tabs-menu__item_selected(id="product-details-1")
						span.tabs-menu__link Описание
					li.tabs-menu__item(id="product-details-2")
						span.tabs-menu__link Доставка
					li.tabs-menu__item(id="product-details-3")
						span.tabs-menu__link Возвраты
			div.tabs-panes
				div.tabs-panes__pane.tabs-panes__pane_active(aria-labelledby="product-details-1")
					p Свободная туника с ассиметричным низом, круглым вырезом горловины и принтом «круги».
					ul
						li 95% хлопок, 5% эластан
						li Сделано в Италии
				div.tabs-panes__pane(aria-labelledby="product-details-2")
					p что-то там
				div.tabs-panes__pane(aria-labelledby="product-details-3")
					p что-то про Возвраты
			a.product-details__sizes(href="#") ТАБЛИЦА РАЗМЕРОВ
					
