dist/html/recovery-password.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="take-it">
    <meta name="keywords" content="take-it">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css">
    <title>Take-it</title>
  </head>
  <body>
    <header class="header-plain">
      <div class="header-plain__row">
        <div class="header-plain__left"><a class="btn btn_type_link btn-back" href="#">Вернуться</a></div><a class="logo" href="#"><img alt="" src="../images/logo_black.svg"></a>
        <div class="header-plain__right">
          <div class="registration__text">У вас нет аккаунта?</div><a class="btn btn_type_btn btn_size_s btn-register" href="#">Регистрация</a>
        </div>
      </div>
      <div class="header-plain__row header-plain__row_gap_s">
        <div class="header-plain__title"> Восстановление пароля
        </div>
      </div> 
    </header>
    <div class="sign-in">
      <div class="sign-in__wrap">
        <form class="form form_empty">
          <div class="form__row form__row_empty">
            <input class="form__input" type="email" placeholder="Email" required id="email" name="email">
            <label class="form__label" for="email">Email</label>
          </div>
          <button class="form__submit" type="submit">Восстановить пароль</button>
        </form>
      </div>
    </div>
    <script src="../../components/jquery/dist/jquery.js"></script>
    <script src="../components/jquery-selectric/public/jquery.selectric.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>

app/views/recovery-password.pug
extends layout-signin.pug

block header-title
	| Восстановление пароля

block content
	div.sign-in
		div.sign-in__wrap
			form.form.form_empty
				div.form__row.form__row_empty
					input.form__input(type="email" placeholder="Email" required id="email" name="email") 
					label.form__label(for="email") Email

				button.form__submit(type="submit") Восстановить пароль
