dist/html/recovery-success.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="take-it">
    <meta name="keywords" content="take-it">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css">
    <title>Восстановление пароля</title>
  </head>
  <body>
    <div class="success-screen">
      <div class="success-screen__wrap"><img class="success-screen__icon" src="../images/key.png" alt="">
        <div class="success-screen__text">Ссылка на восстановление пароля отправлена вам на почту.</div>
      </div>
    </div>
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>

app/views/recovery-success.pug
doctype html
html
  head
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='description', content='take-it')
    meta(name='keywords', content='take-it')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
    meta(charset='utf-8')
    block styles
      link(rel="stylesheet",href="../css/app.css")
    block title
      title Восстановление пароля

  body

    div.success-screen
      div.success-screen__wrap
          img.success-screen__icon(src="../images/key.png" alt="")
          div.success-screen__text Ссылка на восстановление пароля отправлена вам на почту.

    script(src="../../bower_components/jquery/dist/jquery.js")
    script(src="../js/app.js")
