app/views/registration.pug
extends layout-signin.pug

block header
	header.header-plain.header-plain_full
		div.header-plain__row
				div.header-plain__left
					a.btn.btn_type_link.btn-back(href="#") Вернуться
					
				a.logo(href="#")
					img(alt="" src="../images/logo_black.svg")
						
				div.header-plain__right
					div.registration__text Зарегистированы?
					a.btn.btn_type_btn.btn_size_s.btn-login(href="#") Вход

		div.header-plain__row
			div.header-plain__title 
				| Регистрация

		div.header-plain__row
			div.customers.radio-group
				div.customers__row
					div.customer
						div.radio.radio_theme_green
							span.radio__box
								input.radio__input(type="radio" id="retail-customer" name="customer-radio")
								span.radio__circle.radio__circle_theme_green
							label.radio__label(for="retail-customer")  Я оптовый покупатель
								span Владельцы розничных магазинов

				div.customers__row
					div.customer
						div.radio.radio_theme_green
							span.radio__box
								input.radio__input(type="radio" id="wholesale-customer" name="customer-radio")
								span.radio__circle
							label.radio__label(for="wholesale-customer")  Я оптовый покупатель
								span Владельцы интернет-магазинов, индивидуальные и совместные покупки

block content
	div.registration-form.registration-form_hidden
		form.form.form_empty
				div.form__row-wrap
					div.form__row.form__row_empty
						input.form__input(type="text" placeholder="Имя" required id="name" name="name") 
						label.form__label(for="name") Имя

					div.form__row.form__row_empty
						input.form__input(type="email" placeholder="Email" required id="email" name="email") 
						label.form__label(for="email") Email

				div.form__row.form__row_empty
					input.form__input(type="password" placeholder="Password" required id="password" name="password") 
					label.form__label(for="password") Password

				div.form__row.form__row_empty
					input.form__input(type="text" placeholder="Телефон" id="tel" name="tel") 
					label.form__label(for="tel") Телефон

				div.form__row.form__row_empty
					input.form__input(type="text" placeholder="Страна" id="country") 
					label.form__label(for="country") Страна
				div.form__row.form__row_empty
					input.form__input(type="text" placeholder="Город" id="city") 
					label.form__label(for="country") Город

				div.form__subtitle О вашем розничном магазине

				div.form__row.form__row_empty
					input.form__input(type="text" placeholder="Название" id="shop-name" name="shop-name") 
					label.form__label(for="shop-name") Название

				div.form__row.form__row_empty
					input.form__input(type="text" placeholder="Адрес" id="address" name="address") 
					label.form__label(for="address") Адрес

				div.form__row.form__row_empty
					input.form__input(type="text" placeholder="Площадь" id="size" name="size") 
					label.form__label(for="size") Площадь

				div.form__row.form__row_empty
					input.form__input(type="text" placeholder="Сайт, если есть" id="site" name="site") 
					label.form__label(for="site") Сайт, если есть

				div.add-address
					span.btn.add-address__btn.btn_size_full Добавить адрес доставки

					div.add-address__box.add-address__box_hidden
						div.add-address__title-row
							div.form__subtitle Адрес доставки
							span.add-address__close Не добавлять
						div.form__row.form__row_empty
							input.form__input(type="text" placeholder="Адрес: улица, дом, офис/склад/квартира" id="country") 
							label.form__label(for="country") Адрес: улица, дом, офис/склад/квартира
						div.form__row.form__row_empty
							input.form__input(type="text" placeholder="Почтовый индекс" id="country") 
							label.form__label(for="country") Почтовый индекс
						div.form__row.form__row_empty
							input.form__input(type="text" placeholder="Примечания к адресу, если есть" id="country") 
							label.form__label(for="country") Примечания к адресу, если есть

				div.form__subscription
					p Поставки каждую неделю
					p.gray Узнавайте о новинках в каталоге первыми:

					div.form__subscription-row
						div.checkbox
							span.checkbox__box
								input.checkbox__input(type="checkbox" id="subscription-1") 
								i.checkbox__tick
							label.checkbox__label(for="subscription-1") По имейлу
						div.checkbox
							span.checkbox__box
								input.checkbox__input(type="checkbox" id="subscription-2") 
								i.checkbox__tick
							label.checkbox__label(for="subscription-2") По смс


				button.form__submit(type="submit") Зарегистрироваться 

dist/html/registration.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="take-it">
    <meta name="keywords" content="take-it">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css">
    <title>Take-it</title>
  </head>
  <body>
    <header class="header-plain header-plain_full">
      <div class="header-plain__row">
        <div class="header-plain__left"><a class="btn btn_type_link btn-back" href="#">Вернуться</a></div><a class="logo" href="#"><img alt="" src="../images/logo_black.svg"></a>
        <div class="header-plain__right">
          <div class="registration__text">Зарегистированы?</div><a class="btn btn_type_btn btn_size_s btn-login" href="#">Вход</a>
        </div>
      </div>
      <div class="header-plain__row">
        <div class="header-plain__title">
           Регистрация</div>
      </div>
      <div class="header-plain__row">
        <div class="customers radio-group">
          <div class="customers__row">
            <div class="customer">
              <div class="radio radio_theme_green"><span class="radio__box">
                  <input class="radio__input" type="radio" id="retail-customer" name="customer-radio"><span class="radio__circle radio__circle_theme_green"></span></span>
                <label class="radio__label" for="retail-customer"> Я оптовый покупатель<span>Владельцы розничных магазинов</span></label>
              </div>
            </div>
          </div>
          <div class="customers__row">
            <div class="customer">
              <div class="radio radio_theme_green"><span class="radio__box">
                  <input class="radio__input" type="radio" id="wholesale-customer" name="customer-radio"><span class="radio__circle"></span></span>
                <label class="radio__label" for="wholesale-customer"> Я оптовый покупатель<span>Владельцы интернет-магазинов, индивидуальные и совместные покупки</span></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="registration-form registration-form_hidden">
      <form class="form form_empty">
        <div class="form__row-wrap">
          <div class="form__row form__row_empty">
            <input class="form__input" type="text" placeholder="Имя" required id="name" name="name">
            <label class="form__label" for="name">Имя</label>
          </div>
          <div class="form__row form__row_empty">
            <input class="form__input" type="email" placeholder="Email" required id="email" name="email">
            <label class="form__label" for="email">Email</label>
          </div>
        </div>
        <div class="form__row form__row_empty">
          <input class="form__input" type="password" placeholder="Password" required id="password" name="password">
          <label class="form__label" for="password">Password</label>
        </div>
        <div class="form__row form__row_empty">
          <input class="form__input" type="text" placeholder="Телефон" id="tel" name="tel">
          <label class="form__label" for="tel">Телефон</label>
        </div>
        <div class="form__row form__row_empty">
          <input class="form__input" type="text" placeholder="Страна" id="country">
          <label class="form__label" for="country">Страна</label>
        </div>
        <div class="form__row form__row_empty">
          <input class="form__input" type="text" placeholder="Город" id="city">
          <label class="form__label" for="country">Город</label>
        </div>
        <div class="form__subtitle">О вашем розничном магазине</div>
        <div class="form__row form__row_empty">
          <input class="form__input" type="text" placeholder="Название" id="shop-name" name="shop-name">
          <label class="form__label" for="shop-name">Название</label>
        </div>
        <div class="form__row form__row_empty">
          <input class="form__input" type="text" placeholder="Адрес" id="address" name="address">
          <label class="form__label" for="address">Адрес</label>
        </div>
        <div class="form__row form__row_empty">
          <input class="form__input" type="text" placeholder="Площадь" id="size" name="size">
          <label class="form__label" for="size">Площадь</label>
        </div>
        <div class="form__row form__row_empty">
          <input class="form__input" type="text" placeholder="Сайт, если есть" id="site" name="site">
          <label class="form__label" for="site">Сайт, если есть</label>
        </div>
        <div class="add-address"><span class="btn add-address__btn btn_size_full">Добавить адрес доставки</span>
          <div class="add-address__box add-address__box_hidden">
            <div class="add-address__title-row">
              <div class="form__subtitle">Адрес доставки</div><span class="add-address__close">Не добавлять</span>
            </div>
            <div class="form__row form__row_empty">
              <input class="form__input" type="text" placeholder="Адрес: улица, дом, офис/склад/квартира" id="country">
              <label class="form__label" for="country">Адрес: улица, дом, офис/склад/квартира</label>
            </div>
            <div class="form__row form__row_empty">
              <input class="form__input" type="text" placeholder="Почтовый индекс" id="country">
              <label class="form__label" for="country">Почтовый индекс</label>
            </div>
            <div class="form__row form__row_empty">
              <input class="form__input" type="text" placeholder="Примечания к адресу, если есть" id="country">
              <label class="form__label" for="country">Примечания к адресу, если есть</label>
            </div>
          </div>
        </div>
        <div class="form__subscription">
          <p>Поставки каждую неделю</p>
          <p class="gray">Узнавайте о новинках в каталоге первыми:</p>
          <div class="form__subscription-row">
            <div class="checkbox"><span class="checkbox__box">
                <input class="checkbox__input" type="checkbox" id="subscription-1"><i class="checkbox__tick"></i></span>
              <label class="checkbox__label" for="subscription-1">По имейлу</label>
            </div>
            <div class="checkbox"><span class="checkbox__box">
                <input class="checkbox__input" type="checkbox" id="subscription-2"><i class="checkbox__tick"></i></span>
              <label class="checkbox__label" for="subscription-2">По смс</label>
            </div>
          </div>
        </div>
        <button class="form__submit" type="submit">Зарегистрироваться </button>
      </form>
    </div>
    <script src="../../components/jquery/dist/jquery.js"></script>
    <script src="../components/jquery-selectric/public/jquery.selectric.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
