dist/html/sign-in.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="take-it">
    <meta name="keywords" content="take-it">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css">
    <title>Take-it</title>
  </head>
  <body>
    <header class="header-plain header-plain_big">
      <div class="header-plain__row">
        <div class="header-plain__left"><a class="btn btn_type_link btn-back" href="#">Вернуться</a></div><a class="logo" href="#"><img alt="" src="../images/logo_black.svg"></a>
        <div class="header-plain__right">
          <div class="registration__text">У вас нет аккаунта?</div><a class="btn btn_type_btn btn_size_s btn-register" href="#">Регистрация</a>
        </div>
      </div>
      <div class="header-plain__row header-plain__row_gap_s">
        <div class="header-plain__title">
           Войти на сайт</div>
      </div>
    </header>
    <div class="sign-in sign-in_gap_l">
      <div class="sign-in__wrap">
        <form class="form form_empty form_gap_s">
          <div class="form__row form__row_empty">
            <input class="form__input" type="email" placeholder="Email" id="email" name="email" required>
            <label class="form__label" for="email">Email</label>
          </div>
          <div class="form__row form__row_empty">
            <input class="form__input" type="password" placeholder="Пароль" id="password" name="password" required>
            <label class="form__label" for="password">Password</label><span class="icon-eye"></span>
          </div>
          <button class="form__submit" type="submit">Войти</button>
        </form>
        <div class="recovery-box"><span class="recovery-box__text">Забыли пароль</span><a class="recovery-box__btn" href="#">Изменить пароль</a></div>
      </div>
    </div>
    <script src="../../components/jquery/dist/jquery.js"></script>
    <script src="../components/jquery-selectric/public/jquery.selectric.min.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>

app/views/sign-in.pug
extends layout-signin.pug

block header
	header.header-plain.header-plain_big
		div.header-plain__row
				div.header-plain__left
					a.btn.btn_type_link.btn-back(href="#") Вернуться
				a.logo(href="#")
					img(alt="" src="../images/logo_black.svg")
				div.header-plain__right
					div.registration__text У вас нет аккаунта?
					a.btn.btn_type_btn.btn_size_s.btn-register(href="#") Регистрация

		div.header-plain__row.header-plain__row_gap_s
			div.header-plain__title 
					| Войти на сайт

block content
	div.sign-in.sign-in_gap_l
		div.sign-in__wrap
			form.form.form_empty.form_gap_s
				div.form__row.form__row_empty
					input.form__input(type="email" placeholder="Email" id="email" name="email" required)
					label.form__label(for="email") Email
				div.form__row.form__row_empty
					input.form__input(type="password" placeholder="Пароль" id="password" name="password" required)
					label.form__label(for="password") Password
					span.icon-eye

				button.form__submit(type="submit") Войти

			div.recovery-box
				span.recovery-box__text Забыли пароль
				a.recovery-box__btn(href="#") Изменить пароль
